{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Add Questions {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Exams</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Exams <small>Add New Question </small></h1>
<!-- end page-header -->


{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin row -->
<div id='case_details' class="row">

    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>Add New Question</b></h4>
            </div>
            <div class="panel-body">
                 <form class="form-horizontal form-bordered" action="#" method="POST" data-parsley-validate="true"
                name="form-wizard-placement" id="new_placement">
                    {% csrf_token %}

                   
                    <div id="wizard_placementfollowup">
                        <ol>
                            <li>Question
                                <small>Add new question and choices</small>
                            </li>
                                        
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Test Questions</legend>
                                    <div class="row"> 
                                        <table id="placement_followup_table" class="table table-striped table-bordered">
                                            <tbody>

                                                <tr>

                                                 <div id="div_school_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Course:  <span class="asteriskField"> *</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.course }}
                                                        </div>
                                                    </div>
                                                     <div id="div_school_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Question:  <span class="asteriskField"> *</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.question }}
                                                        </div>
                                                    </div> 
                                                    <div id="div_school_admission_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Choice A:  <span class="asteriskField">*</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.choice_a }}
                                                        </div>
                                                    </div>
                                                    <div id="div_school_admission_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Choice B :  <span class="asteriskField">*</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.choice_b }}
                                                        </div>
                                                    </div>
                                                    <div id="div_school_admission_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Choice C:  <span class="asteriskField">*</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.choice_c }}
                                                        </div>
                                                    </div>
                                                    <div id="div_school_admission_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Choice D :  <span class="asteriskField">*</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.choice_d }}
                                                        </div>
                                                    </div>
                                                    <div id="div_school_admission_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.correct_answer }}
                                                        </div>
                                                    </div>
  
                                                </tr>

                                               
                                            </tbody>
                                        </table>
                                    </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                        


                    </div>
                     <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    
                                    <button id="mysubmit100" type="submit" class="btn btn-primary">Submit</button>

                                    <button class="btn btn-default">Cancel</button>

                                </div>
                            </div>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
    </div>


    

</div>

<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' F%}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>


<script type="text/javascript">

// $("#add_question_msgs").css({ 'display': "block" }); 
// $('#add_question_msgs p').html('Question Saved Successfully'); 
  

$('html,body').scrollTop(0);
FormWizardValidation.init();
</script>

{% endblock %}
