{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Entry Exam {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Examination</li>
</ol>
<!-- end breadcrumb -->



{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>MSC Entry Test </b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                name="form-wizard-family-care" id="edit_alternative_family_care">
                    {% csrf_token %}

                                <div class="row"> 
                                <label class="control-label col-md-3 col-sm-3"></label>
                                <div class="col-md-8 col-sm-8">


                                   <h4> You are about to begin the MSC Entry Test</h4> <br>
                                   <h4> The test contains 25 multiple choice questions to be done in 30 minutes </h4> <br>
                                   <h4> Click Begin Test when you're ready to begin</h4> <br>
                                     <button type="button" style="width:50%" class="btn btn-sm btn-primary m-r-5" onClick="SitTest()">Begin Test</button>

                                    
                                    

                                </div>

                              
                                    

                                </div>
           
                                  

                    <!-- </div> -->

                    <!-- begin panel -->
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
});
</script>
<script type="text/javascript">
function SitTest()
{
    return window.location.href='{% url 'sit_test' %}'
}

function goBack()
{
    return window.location.href='{% url 'home' %}'; 
}
</script>


{% endblock %}
