{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Entry Exam {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Examination</li>
</ol>

<!-- end breadcrumb -->



<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="0">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row" ">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h1 class="panel-title" id="timer"> </h1>
            </div>
            <div class="panel-body" >
                <form class="form-horizontal form-bordered" action="{% url 'calculate_score' %}" method="POST" data-parsley-validate="true"
                name="form-wizard-family-care" id="entry_test">
                    {% csrf_token %}
                    <div id="wizard_familycare">
                        <!-- 
                        <ol>
                            <li>
                                MSC Computational Intelligence
                                <small> Entry Test</small>
                            </li>                           
                        </ol> -->
                        

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Question 1</legend>
                                <div class="row"> 

                                    {% if test_questions %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption" type="radio">
                                        A </label>
                                        <div class="col-md-6 col-sm-6">
                                           {{ test_questions.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4"> C  </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer1 }}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->       

                                                <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Question 2</legend>
                                <div class="row"> 

                                    {% if test_questions2.question %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions2.question }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions2.choice_a %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions2.choice_a }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions2.choice_b %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions2.choice_b }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions2.choice_c %}                           
                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions2.choice_c }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions2.choice_d %}   
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions2.choice_d }}
                                        </div>
                                    </div> 
                                    {% endif %}

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer2 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->  

                                                <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full">Question 3</legend>
                                <div class="row"> 

                                    {% if test_questions3.question %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions3.question }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions3.choice_a %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption"> A : </label>
                                        <div class="col-md-6 col-sm-6">

                                            {{ test_questions3.choice_a }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions3.choice_b %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions3.choice_b }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions3.choice_c %}                           
                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions3.choice_c }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions3.choice_d %}   
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions3.choice_d }}
                                        </div>
                                    </div> 
                                    {% endif %}

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer3 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 --> 
                                                <!-- begin wizard step-4 -->
                        <div class="wizard-step-4">
                            <fieldset>
                                <legend class="pull-left width-full">Question 4</legend>
                                <div class="row"> 


                                    {% if test_questions4.question %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions4.question }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions4.choice_a %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions4.choice_a }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions4.choice_b %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions4.choice_b }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions4.choice_c %}                           
                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions4.choice_c }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions4.choice_d %}   
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions4.choice_d }}
                                        </div>
                                    </div> 
                                    {% endif %}

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer4 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-4 -->                                         
  

                        <!-- begin wizard step-5 -->
                        <div class="wizard-step-5">
                            <fieldset>
                                <legend class="pull-left width-full">Question 5</legend>
                                <div class="row"> 


                                    {% if test_questions5.question %}
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions5.question }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions5.choice_a %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions5.choice_a }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions5.choice_b %}                           
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions5.choice_b }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions5.choice_c %}                           
                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions5.choice_c }}
                                        </div>
                                    </div>
                                    {% endif %}

                                    {% if test_questions5.choice_d %}   
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions5.choice_d }}
                                        </div>
                                    </div> 
                                    {% endif %}

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer5 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-5 -->                                         

                        <!-- begin wizard step-6 -->
                        {% if test_questions6 %}
                        <div class="wizard-step-6">
                            <fieldset>
                                <legend class="pull-left width-full">Question 6</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions6.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions6.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions6.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions6.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions6.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer6 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-6 --> 


                        <!-- begin wizard step-7 -->
                        {% if test_questions7 %}
                        <div class="wizard-step-7">
                            <fieldset>
                                <legend class="pull-left width-full">Question 7</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions7.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions7.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions7.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions7.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions7.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer7 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-7 -->                                         

                        <!-- begin wizard step-8 -->
                        {% if test_questions8 %}
                        <div class="wizard-step-8">
                            <fieldset>
                                <legend class="pull-left width-full">Question 8</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions8.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions8.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions8.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions8.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions8.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer8 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-8 -->      

                        <!-- begin wizard step-9 -->
                        {% if test_questions9 %}
                        <div class="wizard-step-9">
                            <fieldset>
                                <legend class="pull-left width-full">Question 9</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions9.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions9.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions9.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions9.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions9.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer9 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-9 --> 

                        <!-- begin wizard step-10 -->
                        {% if test_questions10 %}
                        <div class="wizard-step-10">
                            <fieldset>
                                <legend class="pull-left width-full">Question 10</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions10.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions10.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions10.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions10.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions10.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer10 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-10 --> 

                         <!-- begin wizard step-11 -->
                        {% if test_questions11 %}
                        <div class="wizard-step-11">
                            <fieldset>
                                <legend class="pull-left width-full">Question 11</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions11.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions11.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions11.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions11.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions11.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer11 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-11 -->                                              
                                             

                          <!-- begin wizard step-12 -->
                        {% if test_questions12 %}
                        <div class="wizard-step-12">
                            <fieldset>
                                <legend class="pull-left width-full">Question 12</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions12.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions12.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions12.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions12.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions12.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer12 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-12 --> 

                         <!-- begin wizard step-13 -->
                        {% if test_questions13 %}
                        <div class="wizard-step-13">
                            <fieldset>
                                <legend class="pull-left width-full">Question 13</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions13.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions13.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions13.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions13.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions13.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer13 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-13 --> 

                         <!-- begin wizard step-14 -->
                        {% if test_questions14 %}
                        <div class="wizard-step-14">
                            <fieldset>
                                <legend class="pull-left width-full">Question 14</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions14.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions14.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions14.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions14.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions14.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer14 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-14 --> 

                         <!-- begin wizard step-15 -->
                        {% if test_questions15 %}
                        <div class="wizard-step-15">
                            <fieldset>
                                <legend class="pull-left width-full">Question 15</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions15.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions15.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions15.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions15.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions15.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer15 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-15 --> 

                        {% if test_questions16 %}
                        <div class="wizard-step-16">
                            <fieldset>
                                <legend class="pull-left width-full">Question 16</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions16.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions16.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions16.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions16.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions16.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer16 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-16 -->  


                           <!-- begin wizard step-15 -->
                        {% if test_questions17 %}
                        <div class="wizard-step-17">
                            <fieldset>
                                <legend class="pull-left width-full">Question 17</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions17.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions17.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions17.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions17.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions17.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer17 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-17 -->                    
                        
                         <!-- begin wizard step-18 -->
                        {% if test_questions18 %}
                        <div class="wizard-step-18">
                            <fieldset>
                                <legend class="pull-left width-full">Question 18</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions18.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions18.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions18.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions18.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions18.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer18 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-18 -->                    
              
                          <!-- begin wizard step-15 -->
                        {% if test_questions19 %}
                        <div class="wizard-step-19">
                            <fieldset>
                                <legend class="pull-left width-full">Question 19</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions19.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions19.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions19.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions19.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions19.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer19 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-19 -->  

                         <!-- begin wizard step-20 -->
                        {% if test_questions20 %}
                        <div class="wizard-step-15">
                            <fieldset>
                                <legend class="pull-left width-full">Question 20</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions20.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions20.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions20.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions20.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions20.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer20 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-20 -->  

                         <!-- begin wizard step-21 -->
                        {% if test_questions21 %}
                        <div class="wizard-step-15">
                            <fieldset>
                                <legend class="pull-left width-full">Question 21</legend>
                                <div class="row"> 

                                    
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Question : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions21.question }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="type_of_adoption">A : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions21.choice_a }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">B : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions21.choice_b }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">C : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions21.choice_c }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="certificate_number">D : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ test_questions21.choice_d }}
                                        </div>
                                    </div> 

                                    <div id="div_school_admission_type" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Correct answer :  <span class="asteriskField">*</label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.answer21 }}
                                        </div>
                                    </div>
                              
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                        <!-- end wizard step-20 --> 

                                

                    </div>

                    <!-- begin panel -->
                    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    
                                    <button id="mysubmit100" type="submit" class="btn btn-primary">Finish Test</button>
                                    <!-- <button type="submit" style="width:50%" class="btn btn-sm btn-primary m-r-5" onClick="TestScore()">Finish Test</button> -->

                                    <!-- <button class="btn btn-default">Cancel</button> -->

                                </div>
                            </div>
                        </div>
                    </div>  
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'plugins/jquery-idletimer/dist/idle-timer.1.1.0.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script>
jQuery(document).ready(function() 
{
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
});
</script>
<script type="text/javascript">
var count=180;

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     document.forms["entry_test"].submit();
     return;
  }
    var minutes = Math.floor(count / 60);
    var seconds = count - minutes * 60;

   document.getElementById("timer").innerHTML= minutes + " minutes " + seconds + " secs Remaining"; // watch for spelling

  
}


</script>


{% endblock %}
