{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Password reset {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
        <small>Provide email address used to register to reset password.</small>
    </h1>
    <!-- end register-header -->   
    <!-- begin register-content -->
    <div class="register-content">
        {% if messages %}
            {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in m-b-15">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-info fa-2x pull-left"></i>
            {% else %}
                <div id="messages" class="alert alert-success fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
            {% endif %}    
                <p>{{ message }}</p>
            </div>
           {% endfor %}
        {% endif %}
        <p>Password changed successfully.</p>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
        
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
