{% extends 'base.html' %}
{% block page_title %} {{block.super}} Persons registry details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Registry</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Student Profile <small> | {{ data.first_name }} {{ data.last_name }}</small></h1>
{% endfor %}
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin profile-left -->
                    <div class="profile-left">
                        <!-- begin profile-image -->
                       <!--  <div class="profile-image">
                            <img src="/static/img/user-2.jpg" />
                            <i class="fa fa-user hide"></i>
                        </div> -->

                    </div>
                    <!-- end profile-left -->

                    <!-- begin profile-right -->
                    <!-- <div class="profile-right"> -->
                        <!-- begin profile-info -->
                        <div class="profile-info">
                                        <!-- <div class="profile-section"> -->
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            <!-- <h4 class="title">Related <small> {{ person_education.count|add:person_career.count }} provided</small></h4> -->
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="420px" class="bg-silver">
                                <!-- begin todolist -->
                                {% if person_education %}
                                <table class="table table-condensed">
                                     <thead>
                                     <h2 style="color: #337ab7; text-align:center;">Education Background</h2>
                                     <p></p> 
                                     <th></th>

                                        <tr>
                                            <th>Education Level</th>
                                            <th>Institution of Study</th>
                                            <th>Program of Study</th>
                                            <th> Award Attained</th>
                                            <th> Program Completion Date </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for education in person_education %}
                                        <tr>
                                            <td>{{ education.education_level|gen_value:vals }}</td>
                                            <td>{{ education.institution_of_study|gen_value:vals }}</td>
                                            <td>{{ education.program }}</td>
                                            <td>{{ education.award_attained|gen_value:vals }}</td>
                                            <td>{{ education.program_end_date }}</td>
                                        </tr>
                                        <th></th>
                                        {% endfor %}
                                                                              
                                    </tbody>
                                </table>
                                {% if person_career %}
                                <table class="table table-condensed">
                                    <thead>
                                     <h2 style="color: #337ab7; text-align:center;">Career Profile</h2>
                                     <th></th>
                                        <tr>
                                            <th>Employer</th>
                                            <th>Job Title</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for career in person_career %}
                                        <tr>
                                            <td>{{ career.employer }}</td>
                                            <td>{{ career.job_title }}</td>
                                            <td>{{ career.job_start_date }}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                                {% if documents %}
                                <table class="table table-condensed">
                                    <thead>
                                     <h2 style="color: #337ab7; text-align:center;">Supporting Documents</h2>
                                    </thead>
                                    <tbody>
                                        {% for document in documents %}
                                        <tr>
                                            <td>{{ document.docfile }}</td>
                                         </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                                {% endif %}
                                {% else %}
                                    <br>
                                    <p>&nbsp;No relative details provided for this person.</p>  
                                {% endif %}

                                
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->
            <div style="text-align: center;" >
                Status : Approved
               <!--  {% endif %}
                {% endif %} -->
            </div>
    <!-- End content area -->
</div>
<!-- end row -->

{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}