{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Applications</li>
</ol>
<!-- end breadcrumb -->

{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">

                        <!-- begin profile-info -->
                        <div class="profile-info">
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            <div data-scrollbar="true" data-height="250px" class="bg-silver">
                                <!-- begin todolist -->
                                <table class="table table-condensed">
                                     <thead>
                                     <h2 style="color: #337ab7; text-align:center;">Programs Available</h2>
                                     <p></p> 

                                        
                                    </thead>
                                    <tbody align="center">
                                        <tr>
                                             <td>MSc Applied Computing</td>
                                        </tr>
                                        <tr>
                                            <td>MSc Computational Intelligence</td>
                                        </tr>
                                        
                                        <tr>
                                             <td>MSc Distributed Computing Technology</td>
                                        </tr>
                                        <tr>
                                             <td>Msc Information Technology Management</td>
                                        </tr>
                    
                                    </tbody>
                                </table>
                                
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->

            <div style="text-align: center;" >
                <button onclick="application()" class="btn  btn-sm btn-primary m-r-5"> &nbsp;<b>Click to Apply</b>&nbsp; </button>
                
            </div>
    <!-- End content area -->
</div>
<!-- end row -->

<script type="text/javascript">
function application()
{ 
    return window.location.href='{% url 'application' %}'; 
}
                        
</script>
{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}