{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Applications</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Applicant Profile <small> | {{ data.first_name }} {{ data.last_name }}</small></h1>
{% endfor %}
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin profile-left -->
                    <div class="profile-left">
                        <!-- begin profile-image -->
                       <!--  <div class="profile-image">
                            <img src="/static/img/user-2.jpg" />
                            <i class="fa fa-user hide"></i>
                        </div> -->

                    </div>
                    <!-- end profile-left -->

                    <!-- begin profile-right -->
                    <!-- <div class="profile-right"> -->
                        <!-- begin profile-info -->
                        <div class="profile-info">
                                        <!-- <div class="profile-section"> -->
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            <!-- <h4 class="title">Related <small> {{ person_education.count|add:person_career.count }} provided</small></h4> -->
                            <!-- begin scrollbar -->
                            <div data-scrollbar="true" data-height="420px" class="bg-silver">
                                <!-- begin todolist -->
                                {% if person_education %}
                                <table class="table table-condensed">
                                     <thead>
                                     <h3 style="color: #337ab7; ">Education Background</h3>
                                     <p></p> 
                                        <tr>
                                            <th>Education Level</th>
                                            <th>Institution of Study</th>
                                            <th>Discipline of Study</th>
                                            <th> Award Attained</th>
                                            <th> Program Completion Date </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for education in person_education %}
                                        <tr>
                                            <td>{{ education.education_level|gen_value:vals }}</td>
                                            <td>{{ education.institution_of_study|gen_value:vals }}</td>
                                            <td>{{ education.program }}</td>
                                            <td>{{ education.award_attained|gen_value:vals }}</td>
                                            <td>{{ education.program_end_date }}</td>
                                        </tr>
                                        <th></th>
                                        {% endfor %}
                                                                              
                                    </tbody>
                                </table>
                                {% endif %}

                                {% if person_career %}
                                <table class="table table-condensed">
                                    <thead>
                                     <h3 style="color: #337ab7; ">Career Profile</h3>
                                     <th></th>
                                        <tr>
                                            <th>Employer</th>
                                            <th>Job Title</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for career in person_career %}
                                        <tr>
                                            <td>{{ career.employer }}</td>
                                            <td>{{ career.job_title }}</td>
                                            <td>{{ career.job_start_date }}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                                {% endif %}
                                {% if documents %}
                                <table class="table table-condensed">
                                    <thead>
                                     <h3 style="color: #337ab7;">Supporting Documents</h3>
                                     <tr>
                                        <th> Document Type</th>
                                        <th>File Name </th>
                                     </tr> 
                                    </thead>
                                    <tbody>
                                        {% for document in documents %}
                                         <tr>
                                            <td> {{ document.doc_type|gen_value:vals }}</td>
                                            <td>
                                                    <a  href="{{ document.docfile.url }}"><h5 style="color: #337ab7;">{{ document.docfile.name }}</h5></a>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}

                                
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->
            {% if aplcnt.is_void %}            

                {% if aplcnt.is_approved %}
                <div style="text-align: center;" >
                <h4> Status: Approved </h4> <br>
                <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>
                   
                </div>
                {% else %}
                <div style="text-align: center;" >
                 <h4> Status: Disapproved </h4><br>
                <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>
                  
                </div>
                {% endif %}

            {% else %}
            <div style="text-align: center;" >
                <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>
                <button  id="btn_edit_details" onClick="ApproveApplicant({{ aplcnt.applicant }})"
                 class="btn  btn-sm btn-primary m-r-5">
                <b> Approve</b>&nbsp; <i class="fa fa-check"></i>
                </button>
                <button id="btn_edit_details" onClick="DispproveApplicant({{ aplcnt.applicant }})" 
                class="btn  btn-sm btn-primary m-r-5">
                <b> Disapprove</b>&nbsp; <i class="fa fa-close"></i>
                </button>

            </div>
            {% endif %}



    <!-- End content area -->
</div>
<!-- end row -->

<script type="text/javascript">
function ApproveApplicant(applicant)
{ 
    var id = applicant;
    return window.location.href='{% url 'approve_applicant' id=0 %}'.replace("0", id); 
}
function DispproveApplicant(applicant)
{ 
    var id = applicant;
    return window.location.href='{% url 'disapprove_applicant' id=0 %}'.replace("0", id); 
}


                            
</script>
{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}