
{% extends 'base.html' %}
{% block page_title %} {{block.super}} Register {% endblock page_title%}

{% load staticfiles %}

{% block style_code%}
<link href="{% static 'plugins/DataTables/css/data-table.css' %}" rel="stylesheet" />
{% endblock style_code%}

{% block primary%}
<h1 class="page-header">Workforce Registry</h1>
<p></p>

{% if messages %}
<div id="messages" class="alert alert-danger fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.error %} class="{{ message.danger }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                        
                <h4 class="panel-title">Create User Profile | {{ names }}</span></h4>
            </div>
            <div class="panel-body panel-form">
                <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="demo-form" >

                    {% csrf_token %} 
                    <div class="form-group">
                    <div class="col-md-4 col-sm-4">
                       <b>{{ form.person_id }}</b>
                    </div>
                    </div>             
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">{{ form.username.label }} :</label>
                        <div class="col-md-4 col-sm-4">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Password :</label> 
                        <div class="col-md-4 col-sm-4">
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4">Password(Again) :</label>
                        <div class="col-md-4 col-sm-4">
                            {{ form.password2}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-sm-4"></label>
                        <div class="col-md-4 col-sm-4">
                        
                            {% if error_msg %}
                            <p>
                                <div class="alert alert-danger fade in m-b-15"><b>{{ error_msg }}<b></div> 
                            </p>
                            {% endif %}

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel-->
    </div>
    <!-- begin col-12 -->
</div>
<!-- begin row -->
{% endblock primary%}
