{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Edit Organization Unit {% endblock %}

{% load crispy_forms_tags %}

{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">

{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Registry</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Registry <small>Update Organisational Unit | {{ org_unit.org_unit_id_vis}} - {{ org_unit.org_unit_name}}</small></h1>
<!-- end page-header -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Organization Unit details</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="edit_org_unit">
                <input type='radio' class="edit_org" name='edit_org' value="1" checked="checked" id="edit_org_1"> Update Organization Unit registration details
		        <div class="separator"><p></p></div>
		        <div id="edit_part">
					<div id="wizard">
						<ol>
							<li>
							    About the Organisation 
							    <small>Name and registration date</small>
							</li>
							<li>
							    Organisation Type
							    <small>Organisation type and registration details</small>
							</li>
							<li>
							    Location
							    <small>Where located and/or providing services</small>
							</li>
							<li>
							    Contact
							    <small>Organisation Unit contact details</small>
							</li>
						</ol>
						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">About the Organisation</legend>
                                <div class="row">
                                    <div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="org_unit_name">Name of Organisation Unit <span class="asteriskField">*</span> :</label>
										<div class="col-md-6 col-sm-6">
												{{ form.org_unit_name }}
										</div>
										<a href="#" data-toggle="tooltip" title="Unit name is mandatory"><i class="fa fa-info-circle fa-lg"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="date_reg">Date when the organisation Unit was set up or became operational * :</label>
										<div class="col-md-6 col-sm-6">
			                                {{ form.reg_date }}
										</div>
									</div>
                                </div>
                                <!-- end row -->
							</fieldset>
						</div>
						<!-- end wizard step-1 -->
						<!-- begin wizard step-2 -->
						<div class="wizard-step-2">
							<fieldset>
								<legend class="pull-left width-full">Organisation Type</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-6 -->
                                    <div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="org_unit_type">Type and sub-type of organisation Unit <span class="asteriskField">*</span>:</label>
										<div class="col-md-3 col-sm-3">
											{{ form.org_unit_category }}
										</div>
										<div class="col-md-3 col-sm-3">
											{{ form.org_unit_type }}
										</div>
										<a href="#" data-toggle="tooltip" title="Type and sub-type are mandatory"><i class="fa fa-info-circle fa-lg"></i></a>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="legal_reg_type">Legal Registration type :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.org_reg_type }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="legal_reg_number">Legal Registration Number :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.legal_reg_number }}
										</div>
									</div>
			                        <div class="form-group">
										<label class="control-label col-md-4 col-sm-4" for="parent_unit">Parent Unit <span class="asteriskField">*</span> :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.parent_org_unit }}
										</div>
									</div>
                                    <!-- end col-6 -->
                                </div>
                                <!-- end row -->
							</fieldset>
						</div>
						<!-- end wizard step-2 -->
						<!-- begin wizard step-3 -->
						<div class="wizard-step-3">
							<fieldset>
								<legend class="pull-left width-full">Location</legend>
                                <!-- begin row -->
                                <div class="row">
                                    <!-- begin col-4 -->
                                    <div class="form-group" id="county_div">
										<label class="control-label col-md-4 col-sm-4" for="sub_county">County :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.county }}
											<br>
											<span id="sel_county" class="showlist"></span>
										</div>
									</div>
                                    <div class="form-group" id="sub_county_div">
										<label class="control-label col-md-4 col-sm-4" for="sub_county">Sub County :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.sub_county }}
											<br>
											<span id="sel_sub_county" class="showlist"></span>
											<div id="county_error"></div>
										</div>
									</div>
									<div class="form-group" id="ward_div">
										<label class="control-label col-md-4 col-sm-4" for="wards">Wards :</label>
										<div class="col-md-6 col-sm-6">
											{{ form.ward }}
											<br>
											<span id="sel_ward" class="showlist"></span>
											<div id="ward_error"></div>
										</div>
									</div>
			                        <!-- end col-6 -->
                                </div>
                                <!-- end row -->
                            </fieldset>
						</div>
						<!-- end wizard step-3 -->
						<!-- begin wizard step-4 -->
					    <div class="wizard-step-4">
						    <fieldset>
								<legend class="pull-left width-full">Contacts</legend>
                                <!-- begin row -->
                                <div class="row">
	                                    {% crispy cform %}
                                </div>
                                <!-- end row -->
                            </fieldset>
                        </div>
						<!-- end wizard step-4 -->
					</div>
					</div><!-- end view part -->
		            <!-- end panel -->
		            <input type='radio' class="edit_org" name='edit_org' value="2"> Organization Unit closed / No longer functional.
		            <!-- begin panel -->
	                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
	                    <div id="cdate" class="panel-body panel-form">
							<div class="form-group">
								<label class="control-label col-md-4 col-sm-4" for="parent_unit">Date closed :</label>
								<div class="col-md-6 col-sm-6">
									{{ form.close_date }}
								</div>
							</div>
	                    </div>
	                </div>
	                <!-- end panel -->
		            <input type='radio' class="edit_org" name='edit_org' value="3"> Organization Unit never existed. (Registration mistake or duplicate.)
					<!-- begin panel -->
	                <div class="panel panel-inverse" data-sortable-id="form-validation-1">
	                    <div class="panel-body panel-form">
							<div class="form-group">
								<label class="control-label col-md-4 col-sm-4"></label>
								<div class="col-md-6 col-sm-6">
								    <p></p>
									<button id="mysubmit" type="submit" class="btn btn-primary">Update</button>
									<a href="{% url 'registry' %}">
									<button type="button" class="btn btn-default">Cancel</button>
									</a>
									<p></p>
								</div>
							</div>
	                    </div>
	                </div>
				</form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
<!-- End content area -->
{% endblock %}

{% block lazy_javascript_code %}
	<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
	<script src="{% static 'js/form-wizards.js' %}"></script>
	<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
	<script type="text/javascript">
	    window.Parsley
		  .addValidator('chkcounty', {
		    requirementType: 'string',
		    validateMultiple: function(value, requirement) {
		      var refs = $(requirement).val();
		      var reff = $(requirement);
		      var vals = ["TNRL", "TNRR", "TNRC", "TNCB", "TNCM",
		                  "TNGS", "TNND", "TNAC", "TNCD"]; //, "TNGD"
		      var cat1 = ["TNRL", "TNRR", "TNRC", "TNCB"];
		      var cat2 = ["TNCM", "TNGS", "TNND", "TNAC"];
		      var cat3 = ["TNCD"]; //, "TNGD"
		      var cat4 = ["TNNM", "TNCP", "TNGB", "TNGD"];
		      var cat5 = ["TNNH", "TNCN", "TNGN"];

		      if (reff.length){
                if (value){
                	if($.inArray(refs, vals) > -1){
	                	msg = 'Only one Sub-county required.';
	                	window.Parsley.addMessage('en', 'chkcounty',  msg);
	                	if (value.length == 1) return true; else return false;
	                }else if($.inArray(refs, cat4) > -1){
	                	msg = 'One or more Sub-county required.';
	                	window.Parsley.addMessage('en', 'chkcounty',  msg);
	                	if (value.length >= 1) return true; else return false;
	                }else if($.inArray(refs, cat5) > -1){
	                	msg = 'Sub-county not required';
	                	window.Parsley.addMessage('en', 'chkcounty',  msg);
	                	if (value.length == 0) return true; else return false;
	                }else{
	                	return true;
	                }
                }else{
		      	    return false;
		        }
		      }else{
		      	return false;
		      }
		      window.ParsleyValidator.addMessage('en', 'chkcounty',  msg);
		    }
		 });
		
		window.Parsley
		    .addValidator('notfuturedate', {
		    requirementType: 'string',
		    validateString: function(fieldValue, fieldFormat) {
	            try {
	                var form_date = $.datepicker.parseDate(fieldFormat, fieldValue); 
	            } catch (e) {
	                return false;
	            }
	            var todate = new Date(); // today
	            var sdate = new Date(1900, 1, 1, 0, 0, 0, 0);
	            if (form_date > todate){
	            	return false;
	            }else{
	            	return (form_date >= sdate);
	            }
		    },
		    messages: {
		      en: 'Please provide a valid date (e.g 01-Jan-2016) that is not in the future.'
		    }
		  });
		</script>
	<script>
		jQuery(document).ready(function() {
			$('html,body').scrollTop(0);
			FormWizardValidation.init();

			var unit_type = $("#id_org_unit_type").val();
		    var unit_category = $("#id_org_unit_category").val();
		    handle_locations(unit_type);
		    handle_subcat(unit_category);

		    //Overwrite the rules for org units
		    $('#id_parent_org_unit').empty();
			$('#id_parent_org_unit').append('{{ units_html|safe }}');
			$('#id_county').multiselect({
				enableFiltering: true,
				filterBehavior: 'both',
				numberDisplayed: 0,
				maxHeight: 200,
				buttonWidth: '100%',
				disableIfEmpty: true,
				enableClickableOptGroups: true,
				buttonClass: 'btn btn-white',
				inheritClass: true,
				nonSelectedText: 'Please select',
				enableCaseInsensitiveFiltering: true
			});
			$('#id_sub_county').multiselect({
				selectAllValue: 'multiselect-all',
                includeSelectAllOption: true,
				enableFiltering: true,
				filterBehavior: 'both',
				numberDisplayed: 0,
				maxHeight: 200,
				buttonWidth: '100%',
				disableIfEmpty: true,
				enableClickableOptGroups: true,
				buttonClass: 'btn btn-white',
				inheritClass: true,
				nonSelectedText: 'Please select',
				enableCaseInsensitiveFiltering: true
			});
			$('#id_ward').multiselect({
				selectAllValue: 'multiselect-all',
                includeSelectAllOption: true,
				enableFiltering: true,
				filterBehavior: 'both',
				numberDisplayed: 0,
				maxHeight: 200,
				buttonWidth: '100%',
				disableIfEmpty: true,
				enableClickableOptGroups: true,
				buttonClass: 'btn btn-white',
				inheritClass: true,
				nonSelectedText: 'Please select',
				enableCaseInsensitiveFiltering: true
			});
			$("#id_org_unit_category").attr('disabled', 'disabled');
			//$("#id_org_unit_type").attr('disabled', 'disabled');
			$("#id_parent_org_unit").attr('disabled', 'disabled');
			$(".edit_org").change(function(e) {
			var edit_org = $('input[name=edit_org]:checked', '#edit_org_unit').val();
			if (edit_org == '2'){
                $("#editdate").attr('data-parsley-required', 'true');
             } else{
            	$("#editdate").removeAttr('data-parsley-required');
            	$("#editdate").removeAttr('data-parsley-notfuturedate');
            }
		    });

			$("#id_sub_county").change(function(e) {
				var county = $("#id_county").val();
				var sub_county = $("#id_sub_county").val();
				var ward = $("#id_ward").val();
		        var csrftoken = $.cookie('csrftoken');
                var values = {'sub_county': sub_county,
                              'county': county,
                              'ward': ward, 'action': 1,
                              'csrfmiddlewaretoken': csrftoken };
                $('#id_ward').empty();
				$.ajax({
					type: "POST",
					data: values,
					dataType: "json",
					url: "{% url 'reg_lookup' %}",
					success: function(data){
						var wards = data.wards;
						//$('#id_ward').html("<option value=''>Select One</option>");			
						$.each(wards, function(i, record) {
							var ward_attribs = wards[i].split(",");
                            $('#id_ward')
			            		.append($("<option></option>")
			            		.attr("value", ward_attribs[0])
			            		.text(ward_attribs[1]));
                         });
						var selects = data.selects;
						$.each(selects.split(","), function(i,e){
						    $("#id_ward option[value='" + e + "']").prop("selected", true);
						});
						$('#id_ward').multiselect('rebuild');
					},
			        error: function(){
			        	$('#messages').html("Error")
			        }
		        });
            });
            $("#id_county").change(function(e) {
				var county = $("#id_county").val();
				var sub_county = $("#id_sub_county").val();
				var ward = $("#id_ward").val();
		        var csrftoken = $.cookie('csrftoken');
                var values = {'sub_county': sub_county, 'ward': ward,
                              'county': county, 'action': 2,
                              'csrfmiddlewaretoken': csrftoken };
                $('#id_sub_county').empty();
				$.ajax({
					type: "POST",
					data: values,
					dataType: "json",
					url: "{% url 'reg_lookup' %}",
					success: function(data){
						var wards = data.wards;
						//$('#id_sub_county').html("<option value=''>Select One</option>");			
						$.each(wards, function(i, record) {
							var ward_attribs = wards[i].split(",");
                            $('#id_sub_county')
			            		.append($("<option></option>")
			            		.attr("value", ward_attribs[0])
			            		.text(ward_attribs[1]));
                         });
						var selects = data.selects;
						$.each(selects.split(","), function(i,e){
						    $("#id_sub_county option[value='" + e + "']").prop("selected", true);
						});
						$('#id_sub_county').multiselect('rebuild');
					},
			        error: function(){
			        	$('#messages').html("Error")
			        }
		        });
            });
            $("#cdate").hide();
			$("#edit_org_1").prop("checked", true);
			$("#mysubmit").addClass( "btn-primary" ).removeAttr("disabled");
			$(".edit_org").click(function(e) {
				var res = $('input[name=edit_org]:checked', '#edit_org_unit').val();
				if (res == '2'){
			       $("#edit_part").hide();
			       $("#cdate").show();
			       $("#editdate").prop("readonly", false);
			       $("#mysubmit").addClass( "btn-primary" ).removeAttr("disabled");
			       $('#edit_org_unit').parsley().destroy();
			    }else if (res == '1'){
			       $("#edit_part").show();
			       $("#cdate").hide();
			       $("#editdate").prop("readonly", true);
			       //$("#mysubmit").removeClass( "btn-primary" ).attr("disabled", "disabled");
			       $("#mysubmit").addClass( "btn-primary" ).removeAttr("disabled");
			       $('#edit_org_unit').parsley();
			    }else{
			       $("#edit_part").hide();
			       $("#cdate").hide();
			       $("#editdate").prop("readonly", true);
			       $("#mysubmit").addClass( "btn-primary" ).removeAttr("disabled");
			       $('#edit_org_unit').parsley().destroy();
			   }
		    });
		    $('#edit_org_unit').parsley().reset();
		});
	</script>

    <script type="text/javascript">
        function handle_locations(unit_type){
        	var cat1 = ["TNCD", "TNGD"];
	        var cat2 = ["TNNM", "TNCP", "TNGB"];
	        var cat3 = ["TNNH", "TNCN", "TNGN"];

	        if($.inArray(unit_type, cat1) > -1){
                $("#ward_div").hide();
                $("#location_info").empty();
            }else if($.inArray(unit_type, cat2) > -1){
                $("#ward_div").hide();
                $("#location_info").empty();
            }else if($.inArray(unit_type, cat3) > -1){
            	$("#ward_div").hide();
                $("#sub_county_div").hide();
                $("#county_div").hide();
                $("#location_info").html(' - Not required');
            }else{
            	$("#ward_div").show();
            	$("#sub_county_div").show();
            	$("#location_info").empty();
            }
        }

		function displayVals(area_value) {
		  var area_name = [];
		  area_value = (typeof area_value === 'undefined') ? 'county' : area_value;
		  //var multipleValues = $( "#id_sub_county" ).val() || [];
		  //var multipleValues = $("#id_sub_county option:selected").text() || [];
		  $("#id_"+area_value+" option:selected").each(function () {
			   var $this = $(this);
			   if ($this.length) {
			    var selText = $this.text();
			    area_name.push(selText);
			    //console.log(selText);
			   }
			});

		  $( "#sel_"+area_value ).html(area_name.join( ", " ) );
		}

		function handle_subcat(area_value){
            {% for key, values in orgs.items %}
               var {{ key }} = {{ values|safe }};
            {% endfor %}

	        if (area_value != ''){
	            eval(area_value).forEach(function(orgs) {
	            	var orgs_attribs = orgs.split(",");
	                $('#id_org_unit_type')
	                    .append($("<option></option>")
                        .attr("value", orgs_attribs[0])
                        .text(orgs_attribs[1]));
	            });
	        }else{
	             $('#id_org_unit_type').append('<option></option>'); 
	        }
	        $('#id_org_unit_type').val('{{ unit_type }}');
	        if (area_value == 'TNGU'){
            	$("#div_legal_reg_type").hide();
            	$("#div_legal_reg_number").hide();
            	$('#id_org_reg_type').attr('data-parsley-required', 'false');
            	$('#id_legal_reg_number').attr('data-parsley-required', 'false');
            }else if ((area_value == 'TNNG') || (area_value == 'TNCI')){
            	$("#div_legal_reg_type").show();
            	$("#div_legal_reg_number").show();
            	$('#id_org_reg_type').attr('data-parsley-required', 'true');
            	$('#id_legal_reg_number').attr('data-parsley-required', 'true');
            }else{
            	$("#div_legal_reg_type").show();
            	$("#div_legal_reg_number").show();
            	$('#id_org_reg_type').attr('data-parsley-required', 'false');
            	$('#id_legal_reg_number').attr('data-parsley-required', 'false');
            }
		}
		$('[data-toggle="tooltip"]').tooltip({'placement': 'bottom'});
		//$( "#id_sub_county" ).change( displayVals );
		$("#id_county").change(function(event) { 
			displayVals();
        });
		$("#id_sub_county").change(function(event) { 
			displayVals("sub_county");
        });
        $("#id_ward").change(function(event) { 
			displayVals("ward");
        });
        displayVals();
        displayVals("sub_county");
		displayVals("ward");
	</script>
{% endblock %}
