{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Applications</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
{% for data in init_data %}
    <h3 class="page-header">Interview Score <small> | {{ data.first_name }} {{ data.last_name }}</small></h3>
{% endfor %}
{% for course in applications %}
    <h3 class="page-header">Masters Program <small> : {{ course.course|gen_value:vals }} </small></h3>
{% endfor %}

<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin profile-left -->
                    <div class="profile-left">
                        <!-- begin profile-image -->
                       <!--  <div class="profile-image">
                            <img src="/static/img/user-2.jpg" />
                            <i class="fa fa-user hide"></i>
                        </div> -->

                    </div>
                    <!-- end profile-left -->

                    <!-- begin profile-right -->
                    <!-- <div class="profile-right"> -->
                        <!-- begin profile-info -->
                        <div class="profile-info">
                                        <!-- <div class="profile-section"> -->
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
 
                            <div data-scrollbar="true" data-height="420px" class="bg-silver">
                                <!-- begin todolist -->
                                {% if interviews %}
                                <table class="table table-condensed" id="consolidated_data_table">
                                     <thead>

                                     <p></p>

                                        <tr>
                                            <th>Student Name</th>
                                            <th> Max Marks</th>
                                            <th> Examiner 1</th>
                                            <th>Examiner 2</th>
                                            <th> Examiner 3</th>
                                            <th> Examiner 4</th>
                                            <th>Total </th>
                                            <th>Average </th>
                                         </tr> 
                                         
                                    </thead>
                                    <tbody>
                                        <tr>
                                        {% for data in init_data %}
                                            <td>{{ data.first_name }} {{ data.last_name }}</td>
                                        {% endfor %}

                                            <td> 50 </td>
                                            <td> {{ score1 }}</td>
                                            <td> {{ score2 }}</td>
                                            <td> {{ score3 }}</td>
                                            <td> {{ score4 }}</td>
                                            <td> {{ total_score }}</td>
                                            <td> {{ average_score }}</td>
                                         </tr> 
                                         
                                        <th></th>
                                    </tbody>
                                </table>
                                {% endif %}
                                
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->

                <div style="text-align: center;" >

                <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>
                  
                </div>
               



    <!-- End content area -->
</div>
<!-- end row -->

<script type="text/javascript">
 $(document).ready(function() 
{
    $('#consolidated_data_table').bootstrapTable(
    { 
        toggle: 'table', 
        // search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,
        
        onClickRow: function (row, $element)
        {
            // row: the record corresponding to the clicked row, 
            // $element: the tr element
           
            applicant = row[0];
            applicant_fname = row[1];
            applicant_sname = row[2];
            sessionStorage.setItem("applicant",applicant);
            sessionStorage.setItem("applicant_fname",applicant_fname);
            sessionStorage.setItem("applicant_sname",applicant_sname);
        }
        
    });
});                        
</script>
{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}