{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Interview Assessment {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}
 
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Interview</li>
</ol>

<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Interview Assessment <small> | {{ data.first_name }} {{ data.last_name }}</small></h1>
{% endfor %}
<!-- end page-header -->

<!-- <div id="education_messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div> -->
{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                                        {{ form.applicant_id }}
                <h4 class="panel-title"><b>Interview Assessment</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" method="POST" data-parsley-validate="true"
                name="form-wizard-biodata" id="new_biodata">
                    {% csrf_token %}


                    <div id="wizard_biodata">
                        <ol>

                            <li>Part 1
                                <small>Applicants Motivation</small>
                            </li>
                            <li>Part 2
                                <small>General Aptitude Questions</small>
                            </li>
                            <li>Part 3
                                <small>Understanding of Topical Research Areas</small>
                            </li>
                            <li>Part 4
                                <small>Comptence in Fundamental CS Skills</small>
                            </li>

                                                
                        </ol>



             <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Applicants Motivation and Focus (7.5 Marks) </legend>
                                <div class="row"> 

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Comments : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.comment1 }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Score (Max 7.5) : </label>
                                        <div class="col-md-6 col-sm-6">
                                           {{ form.score1 }}
                                        </div>
                                    </div>
                             
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->  

                         <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">General Aptitude for the Chosen Track (15 Marks)</legend>
                                <div class="row"> 

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Comments : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.comment2 }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Score (Max 15): </label>
                                        <div class="col-md-6 col-sm-6">
                                           {{ form.score2 }}
                                        </div>
                                    </div>
                             
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-2 -->  


                         <!-- begin wizard step-3 -->
                        <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full">Understanding of Topical Research Areas (7.5 Marks) </legend>
                                <div class="row"> 

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Comments : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.comment3 }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Score(Max 7.5): </label>
                                        <div class="col-md-6 col-sm-6">
                                           {{ form.score3 }}
                                        </div>
                                    </div>
                             
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-3 -->  


                         <!-- begin wizard step-4 -->
                        <div class="wizard-step-4">
                            <fieldset>
                                <legend class="pull-left width-full">Competence In fundamental CS Skills (20 Marks) </legend>
                                <div class="row"> 

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Comments : </label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.comment4 }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="residential_institution_name">Score (Max 20) : </label>
                                        <div class="col-md-6 col-sm-6">
                                           {{ form.score4 }}
                                        </div>
                                    </div>
                             
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-4 -->  
                        </div>

                    <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    
                                    <button id="mysubmit100" type="submit" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-default">Cancel</button>

                                </div>
                            </div>
                        </div>



              </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div> 
<!-- end row -->




{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript">
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
</script>





{% endblock %}
