{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Applications</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
{% for data in init_data %}
    <h1 class="page-header">Interview Assessment <small> | {{ data.first_name }} {{ data.last_name }}</small></h1>
{% endfor %}
{% for course in applications %}
    <h1 class="page-header">Masters Program <small> | {{ course.course|gen_value:vals }} </small></h1>
{% endfor %}
{% for panelist in panelist_data %}
    <h1 class="page-header">Examiner <small> | {{ panelist.first_name }} {{ panelist.last_name }} </small></h1>
{% endfor %}

<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                    <!-- begin profile-left -->
                    <div class="profile-left">
                        <!-- begin profile-image -->
                       <!--  <div class="profile-image">
                            <img src="/static/img/user-2.jpg" />
                            <i class="fa fa-user hide"></i>
                        </div> -->

                    </div>
                    <!-- end profile-left -->

                    <!-- begin profile-right -->
                    <!-- <div class="profile-right"> -->
                        <!-- begin profile-info -->
                        <div class="profile-info">
                                        <!-- <div class="profile-section"> -->
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
 
                            <div data-scrollbar="true" data-height="250px" class="bg-silver">
                                <!-- begin todolist -->
                                {% if interviews %}
                                <table class="table table-condensed">
                                     <thead>

                                     <p></p>

                                        <tr>
                                            <th>Area of Assessment</th>
                                            <th> Max Marks</th>
                                            <th> Marks Awarded</th>
                                         </tr> 
                                         
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Applicants motivation and focus</td>
                                            <td> 7.5 </td>
                                            <td> {{ interviews.score1 }}</td>
                                         </tr> 
                                         <tr>
                                            <td>General aptitude questions for the chosen track</td>
                                            <td> 15 </td>
                                            <td> {{ interviews.score2 }}</td>
                                         </tr>  
                                         <tr>
                                            <td>Understanding of Topical Research Areas</td>
                                            <td> 7.5 </td>
                                            <td> {{ interviews.score3 }}</td>
                                         </tr>  
                                         <tr>
                                            <td>Competence in Fundamental CS skills </td>
                                            <td> 20 </td>
                                            <td> {{ interviews.score4 }}</td>
                                         </tr>
                                         <tr>
                                            <td>Total </td>
                                            <td>50</td>
                                            <td> {{ interviews.interview_score }}</td>
                                         </tr>  
                                        <th></th>
                                                                              
                                    </tbody>
                                </table>
                                {% endif %}
                                
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->

                <div style="text-align: center;" >

                <button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>
                <button type="button"  class="btn btn-sm btn-primary m-r-5" onClick="ViewScores({{ interviews.applicant }})">View Scores</button>
                  
                </div>
               



    <!-- End content area -->
</div>
<!-- end row -->

<script type="text/javascript">
function ViewScores(applicant)
{
    var id = applicant;
    return window.location.href='{% url 'consolidated_interview' id=0 %}'.replace("0", id); 
}                         
</script>
{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}