{% extends 'base.html' %}

{% load app_filters %}

{% load staticfiles %}

{% block page_title %} Interview Assessment {% endblock %}

{% block style_code %}
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li clasbootstrap-tas="active">Interviews</li>
</ol>
<!-- end breadcrumb -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin page-header -->
<h1 class="page-header">Interview <small>Interview Assessment</small></h1>
<!-- end page-header -->

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>                          
                    <h4 class="panel-title"><b>Search Form</b></h4>
                </div>
                <div class="panel-body">
                    <form class="form-inline" action="{% url 'interview_assessment' %}" method="POST" data-parsley-validate="true">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.search_name }}
                        </div>
                        <div class="form-group">
                            {{ form.search_criteria }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">
                            <i class="fa fa-search"></i>&nbsp;<b>Search</b>
                        </button>

                        <!--
                        <a href="#" class="btn btn-sm btn-danger m-r-5" onClick="ResidentialPlacement('Emergency', 0)"><i class="fa fa-plus"></i>&nbsp;Emergency Placement</a>
                        -->
                    </form>       
                </div>
            </div>
        </div>
    </div>

    {% if resultsets %}
    <div class="panel-body">
        <div class="table-responsive">
            <table id="placement_data_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Surname</th>

                        <th>MSc Program</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for result in resultsets %}
                <tr>                                        
                    <td>{{ result.first_name }}</td>
                    <td>{{ result.last_name }}</td>
                    <td>{{ result.course|gen_value:vals }}</td>

                    <!-- <td>Examination Pending</td> -->

                 
                    <td>
                    {% if result.examined %}
                        <button type="button"  class="btn btn-sm btn-primary m-r-5" onClick="Interview({{ result.applicant }})">Interview</button>
                        <button type="button"  class="btn btn-sm btn-primary m-r-5" onClick="ViewScores({{ result.applicant }})">View Scores</button>

                    {% endif %} 
                                             
                    </td>
                </tr>
                {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <div class="norecords" align="center">No records found</div>
    {% endif %}

</div>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script type="text/javascript">
function Interview(applicant)
{
    var id = applicant;
    return window.location.href='{% url 'interview' id=0 %}'.replace("0", id); 
}
function ViewScores(applicant)
{
    var id = applicant;
    return window.location.href='{% url 'consolidated_interview' id=0 %}'.replace("0", id); 
}
</script>
<script>
$(document).ready(function() 
{
    $('#placement_data_table').bootstrapTable(
    { 
        toggle: 'table', 
        search: 'true',
        locale: 'en-US',
        pagination: 'true',
        pageNumber: 1,
        pageSize: 10,
        //showRefresh: true,
        showToggle: true,
        //showColumns: true,
        singleSelect: true,
        clickToSelect:true,
        maintainSelected: true,
        
        onClickRow: function (row, $element)
        {
            // row: the record corresponding to the clicked row, 
            // $element: the tr element
           
            applicant = row[0];
            applicant_fname = row[1];
            applicant_sname = row[2];
            sessionStorage.setItem("applicant",applicant);
            sessionStorage.setItem("applicant_fname",applicant_fname);
            sessionStorage.setItem("applicant_sname",applicant_sname);
        }
        
    });
});
</script>
{% endblock %}


