{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Interview</li>
</ol>
<!-- end breadcrumb -->

{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">
                        <!-- begin profile-info -->
                <div class="profile-info">
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
 
                            <div data-scrollbar="true" data-height="80px" class="bg-silver">
                                <!-- begin todolist -->
                                {% if interviewed %}
                                
                                <table class="table table-condensed">
                                     <thead>
                                        <tr>
                                            <th> Max Marks</th>
                                            <th>Your average Score </th>
                                            <th> Examiner 1</th>
                                            <th>Examiner 2</th>
                                            <th> Examiner 3</th>
                                            <th> Examiner 4</th>
                                         </tr> 
                                         
                                    </thead>
                                    <tbody>
                                    {% for interview in interviewed %}
                                        <tr>
                                            <td> 50 </td>
                                            <td> {{ interview.average_score }}</td>
                                            <td> {{ interview.score1 }}</td>
                                            <td> {{ interview.score2 }}</td>
                                            <td> {{ interview.score3 }}</td>
                                            <td> {{ interview.score4 }}</td>

                                         </tr> 
                                         
                                        <th></th>
                                    </tbody>
                                </table>
                                {% endfor %}
                                {% else %}

                                <div class="norecords" style="text-align: center;" >  No Results recorded yet <br></div>

                                {% endif %}
                                <!-- end todolist -->
                            </div>
                            <!-- end scrollbar -->
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                </div>
                        <!-- end profile-info -->
                </div>

            </div>
            </div>
            <!-- end profile-container -->
            
    <!-- End content area -->
</div>
</div>
</div>
</div>                  

<!-- end row -->

<div style="text-align: center;" >
<button onclick="goBack()" class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-arrow-left"></i> &nbsp;<b>Back </b>&nbsp; </button>

<script type="text/javascript">
                         
</script>
</div>
{% endblock %}


{% block lazy_javascript_code %}

{% endblock lazy_javascript_code %}