{% extends 'base.html' %}
{% block page_title %} {{block.super}} Applicant Details {% endblock page_title%}

{% load staticfiles %}

{% load app_filters %}

{% block style_code %}
    <link href="{% static 'plugins/datatables/css/data-table.css' %}" rel="stylesheet" />
{% endblock %}
    
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Applications</li>
</ol>
<!-- end breadcrumb -->

{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin profile-container -->
            <div class="profile-container">
                <!-- begin profile-section -->
                <div class="profile-section">

                        <!-- begin profile-info -->
                        <div class="profile-info">
                    <!-- begin row -->
                    <div class="row">

                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            
                            <div style="text-align: center; " >
                            <h4>How it Works:</h4> <br>
                            <h4 style="color: #337ab7;">Step 1:</h4><h5> Update your student profile section</h5> <br>
                            <h4 style="color: #337ab7;">Step 2:</h4><h5> Apply for your preferred Masters Program</h5><br>
                            <h5>The administrator will review your application . You can only proceed for further assessment if your application is approved.</h5> <br> 
                            <br>
                            <!-- end scrollbar -->

                            
                       
                            <button  id="btn_edit_details" onClick="Begin()"
                             class="btn  btn-sm btn-primary m-r-5">
                            <b> Click Here to Begin</b>&nbsp; 
                            </button>
                            
                        </div>
                       
                        </div>
                        <!-- end col-4 -->
                    </div>
                    <!-- end row -->
                
                          
                        </div>
                        <!-- end profile-info -->
                    <!-- </div> -->
                    <!-- end profile-right -->
                </div>

            </div>
            <!-- end profile-container -->

            
    <!-- End content area -->
</div>
<!-- end row -->


{% endblock %}


{% block lazy_javascript_code %}
<script type="text/javascript">
function Begin()
{ 
    return window.location.href='{% url 'education_information' %}'; 
}
</script>
{% endblock lazy_javascript_code %}