{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %} Dashboard {% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Dashboard</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Administrator <small>Application summary</small></h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- Start content area -->
    <!-- begin row -->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-5">
			<div class="widget widget-stats bg-green">
				<div class="stats-icon"><i class="fa fa-child"></i></div>
				<div class="stats-info">
					<h4>Applicants</h4>
					<center><p>{{ data.applicants }}</p></center>
				</div>
				<div class="stats-link">
					<a href="{% url 'applications_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		</div>
		<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-3">
			<div class="widget widget-stats bg-blue">
				<div class="stats-icon"><i class="fa fa-users"></i></div>
				<div class="stats-info">
					<h4>Applications Approved</h4>
					<center><p>{{ data.applications_approved }}</p></center>
					
				</div>
				<div class="stats-link">
					<a href="{% url 'applications_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		</div>
		<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-3">
			<div class="widget widget-stats bg-purple">
				<div class="stats-icon"><i class="fa fa-user"></i></div>
				<div class="stats-info">
					<h4>Interviews</h4>
					<center><p>{{ data.interviews }}</p></center>	
				</div>
				<div class="stats-link">
					<a href="{% url 'interviews_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
	
		<!-- end col-3 -->
		</div>
		<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-3">
			<div class="widget widget-stats bg-aqua">
				<div class="stats-icon"><i class="fa fa-institution"></i></div>
				<div class="stats-info">
					<h4>Entry Tests</h4>
					<center><p>{{ data.entry_tests }}</p></center>	
				</div>
				<div class="stats-link">
					<a href="{% url 'test_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		</div>

		<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-3">
			<div class="widget widget-stats bg-red">
				<div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
				<div class="stats-info">
					<h4>Passed Exams</h4>
					<center><p>{{ data.passed_tests }}</p></center>
				</div>
				<div class="stats-link">
					<a href="{% url 'test_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
		</div>

		<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-12 col-sm-4">
			<div class="widget widget-stats bg-grey">
				<div class="stats-icon"><i class="fa fa-clock-o"></i></div>
				<div class="stats-info">
					<h4>Pending Evaluation</h4>
					<center><p>{{ data.pending_evaluation }}</p></center>	
				</div>
				<div class="stats-link">
					<a href="{% url 'applications_reports' %}">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
				</div>
			</div>
		</div>
		<!-- end col-3 -->
	</div>
	<!-- end row -->
	<!-- begin row -->
	<!-- <div class="row">
		<div class="col-md-6">
			<div class="panel panel-inverse" data-sortable-id="index-1">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Student Applications (Last 7 Days)</h4>
				</div>
				<div class="panel-body">
					<div id="interactive-chart" class="height-sm"></div>
				</div>
			</div>
        </div>
        <div class="col-md-6">
	        <div class="panel panel-inverse" data-sortable-id="index-7">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
					</div>
					<h4 class="panel-title">Programs Applied for</h4>
				</div>
				<div class="panel-body">
					<div id="donut-chart" class="height-sm"></div>
				</div>
			</div>
		</div>
    </div> -->
    
	<!-- End content area -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
    <script>
        var xLabel = [
        {% autoescape off %}{{ dates }}{% endautoescape %}];
    </script>
    <script src="{% static 'js/dashboard.js' %}"></script>
	<script>
		$(document).ready(function() {
			Dashboard.init();
		});
	</script>
{% endblock %}