{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>SCI | MSC Application Processing System</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="{% static 'plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'css/style-responsive.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/theme/default.css' %}" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin register -->
        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed" >
                <div class="news-image">
                    <img src="{% static 'img/steps.PNG' %}" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><img src="{% static 'img/uon.JPG' %}" height="80"> MSC Application Processing System</h4>
                    
                    
                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <!-- begin login-header -->
                <div class="register-header">
                    <h4 class="brand">School of Computing and Informatics</h4>
                    <hr />
                </div>
               
                <!-- end login-header -->
                <!-- begin register-header -->
                <!-- <h1 class="register-header">
                    <small>Fill the form below to register.</small>
                </h1> -->
                <!-- end register-header -->
                <!-- begin register-content -->
                 <!-- <div class="m-t-20 m-b-10 p-b-10">
                            New user? Click <a href="{% url 'register' %}">here</a> to signup.
                        </div> -->

                <div class="register-content">
                    <div id="messages">
                        <span class="close" data-dismiss="alert">×</span>
                        <i class="fa fa-check fa-2x pull-left"></i> 
                        <p class="form-message"></p>
                    </div>
                    

                     <form action="{% url 'register' %}" method="POST" class="margin-bottom-0">
                    {% csrf_token %}
                        <label class="control-label"><b>Name</b></label>
                        <div class="row row-space-10">
                            <div class="col-md-6 m-b-15">
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 m-b-15">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <label class="control-label"><b>Gender</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.sex }}
                            </div>
                        </div>
                        <label class="control-label"><b>Username</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.username }}
                            </div>
                        </div>
                        <label class="control-label"><b>Password</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <label class="control-label"><b>Re-enter Password</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.password2 }}
                            </div>
                        </div>                     
                        <label class="control-label"><b>Phone Number</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.phone_no }}
                            </div>
                        </div>
                        <label class="control-label"><b>Email</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.email }}
                            </div>
                        </div>
                         

                        
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>
                        
                        <div class="m-t-20 m-b-40 p-b-40">
                            Already registered? Click <a href="{% url 'login' %}"><b>here</b></a> to login.
                        </div>
                        <hr />                        
                    </form>
                    
                        <p class="text-center text-inverse">
                            &copy; {% now "Y" %} 
                        </p>

                        <span class="promo">
                        
                        </span>
                        <hr />
                      
                </div>
                <!-- end register-content -->
            </div>
            <!-- end right-content -->
        </div>
        <!-- end register -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'plugins/jquery/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'plugins/jquery/jquery-migrate-1.1.0.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--[if lt IE 9]>
		<script src="{% static 'crossbrowserjs/html5shiv.js' %}"></script>
		<script src="{% static 'crossbrowserjs/respond.min.js' %}"></script>
		<script src="{% static 'crossbrowserjs/excanvas.min.js' %}"></script>
	<![endif]-->
	<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'js/apps.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();

            $('#messages').hide();
            $('#req_access').on('submit', function(e) {
                e.preventDefault();
                $('#asubmit').prop("disabled", false);
                $("#messages").removeClass( "alert alert-danger fade in" );
                $("#messages").removeClass( "alert alert-success fade in" );
                if ( $(this).parsley().isValid() ) {
                    $.ajax({
                       type: "POST",
                       url: "{{ request.get_full_path  }}",
                       data: $("#req_access").serialize(),
                       success: function(data)
                       {
                           var msg = data.message;
                           $("#messages").addClass( "alert alert-success fade in" );
                           $('.form-message').html(msg);
                           $('#messages').show();
                           $('#asubmit').prop("disabled",true);
                       },
                        error: function(){
                            $('#s1').hide();
                            $("#messages").addClass( "alert alert-danger fade in" );
                            $('.form-message').html("Error saving your details.");
                            $('#messages').show();
                        }
                     });
                }else{
                    $('#messages').hide();
                }
            });
		});
	</script>
</body>
</html>
