{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Log in {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
        <small>Provide the required details to log in</small>
    </h1>
    <!-- end register-header -->
    
    <!-- begin register-content -->
    <div class="register-content">
        {% if messages %}
            {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in m-b-15">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-info fa-2x pull-left"></i>
            {% else %}
                <div id="messages" class="alert alert-success fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
            {% endif %}    
                <p>{{ message }}</p>
            </div>
           {% endfor %}
        {% endif %}
        <form action="{{ request.get_full_path }}" method="POST" class="margin-bottom-0" data-parsley-validate="true">
            {% csrf_token %}
            <label class="control-label">Username</label>
            <div class="form-group m-b-15">
                {{ form.username }}
            </div>
            <label class="control-label">Password</label>
            <div class="form-group m-b-15">
                {{ form.password }}
            </div>
            <div class="login-buttons">
                <button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
            </div>
            <div class="m-t-20 m-b-40 p-b-40">
                Not registered yet? Click <a href="{% url 'register' %}" class="text-success">here</a> to sign up<br>
                <!-- Forgot password? Click <a href="{% url 'password_reset' %}" class="text-success">here</a> to change password -->
            </div>
                
            <hr />
            <p class="text-center text-inverse">
                &copy; {% now "Y" %}
            </p>
        </form>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
{% endblock primary %}

{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
