{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub {{ request.path|get_class:'/' }}">
		<a href="{% url 'home' %}">
		    <i class="fa fa-laptop"></i>
		    <span>Home</span>
	    </a>
	</li>
	
	

	<li class="has-sub {{ request.path|get_class:'biodata' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Student Profile</span>
		</a>
	    <ul class="sub-menu">
	    	<!-- <li><a href="{% url 'personal_information' %}">Personal Information</a></li> -->
	    	<li><a href="{% url 'education_information' %}">Student Profile</a></li>
	    	<!-- <li><a href="{% url 'career_profile' %}">Career Profile</a></li> -->
	    	<li><a href="{% url 'doc_upload' %}">Supporting Documents</a></li>

		</ul>
		
	</li>
	<li class="has-sub {{ request.path|get_class:'application' }}">
	    <a href="{% url 'start_application' %}">
	        <i class="fa fa-medkit"></i>
	        <span>Apply</span>
	    </a>
	</li>
	<li class="has-sub {{ request.path|get_class:'exams' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Examination</span>
		</a>
	    <ul class="sub-menu">
	    	<li><a href="{% url 'entry_test' %}"> Entry Test </a></li>
		</ul>
		
	</li>
	<li class="has-sub {{ request.path|get_class:'interview' }}">
		<a href="{% url 'view_scores' %}">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span> Interview Score</span>
		</a>
	</li>
				
	

    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
