{% extends 'base_home.html' %}
{% load staticfiles %}

{% block page_title %} {{block.super}} Log in {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
     <div class="register-buttons">
     <a href="{% url 'login' %}"><button  class="btn btn-primary btn-block btn-lg">Sign In</button></a>
                            
                        </div>
        <small>Provide the required details to sign up</small>
    </h1>
    <!-- end register-header -->
    
    <!-- begin register-content -->
    <div class="register-content">
        {% if messages %}
            {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in m-b-15">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-info fa-2x pull-left"></i>
            {% else %}
                <div id="messages" class="alert alert-success fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
            {% endif %}    
                <p>{{ message }}</p>
            </div>
           {% endfor %}
        {% endif %}
                    <form action="." method="POST" class="margin-bottom-0">
                    {% csrf_token %}
                        <label class="control-label"><b>First Name</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <label class="control-label"><b>Last Name</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <label class="control-label"><b>Gender</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.sex }}
                            </div>
                        </div>
                        <label class="control-label"><b>Username</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.username }}
                            </div>
                        </div>
                        <label class="control-label"><b>Password</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.password1 }}
                            </div>
                        </div>
                        <label class="control-label"><b>Re-enter Password</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.password2 }}
                            </div>
                        </div>                     
                        <label class="control-label"><b>Phone Number</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.phone_no }}
                            </div>
                        </div>
                        <label class="control-label"><b>Email</b></label>
                        <div class="row m-b-15">
                            <div class="col-md-12">
                                {{ form.email }}
                            </div>
                        </div>
                       

                        
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40">
                            Already registered? Click <a href="{% url 'login' %}"><b>here</b></a> to login.
                        </div>
                        <hr />                        
                    </form>
                </div>
                <!-- end register-content -->
            </div>
            <!-- end left-content -->
        </div>
        <!-- end register -->
    {% endblock primary%}

        
    </div>
    <!-- end page container -->
</body>
</html>

<!-- end right-content -->
{% block lazy_javascript_code %}{% endblock lazy_javascript_code %}
