{% load app_class %}
<ul class="nav">
	<li class="nav-header">Navigation</li>
	<li class="has-sub {{ request.path|get_class:'/' }}">
		<a href="{% url 'home' %}">
		    <i class="fa fa-laptop"></i>
		    <span>Home</span>
	    </a>
	</li>
	
	

	<li class="has-sub {{ request.path|get_class:'application' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>View Applications</span>
		</a>
	    <ul class="sub-menu">
	    	<li><a href="{% url 'view_applications' %}">New Applications</a></li>
	    	<li><a href="{% url 'view_reviewed_applications' %}">Reviewed Applications</a></li>

		</ul>
		
	</li>
		
	<li class="has-sub {{ request.path|get_class:'exams' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Examination</span>
		</a>
	    <ul class="sub-menu">
	    	<li><a href="{% url 'add_question' %}">Add Examination Questions</a></li>
	    	<li><a href="{% url 'view_exams' %}">View Entry Test Scores</a></li>
		</ul>
		
	</li>
	<li class="has-sub {{ request.path|get_class:'interview' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Interviews</span>
		</a>
	    <ul class="sub-menu">
	    	<li><a href="{% url 'view_interviews' %}">View Interview Scores</a></li>

		</ul>
		
	</li>
	<li class="has-sub {{ request.path|get_class:'reports' }}">
		<a href="#">
		    <b class="caret pull-right"></b>
		    <i class="fa fa-file-o"></i>
		    <span>Reports</span>
		</a>
	    <ul class="sub-menu">
	    	<li><a href="{% url 'applications_reports' %}">Applications</a></li>
	    	<li><a href="{% url 'test_reports' %}">Entry Tests</a></li>
	    	<li><a href="{% url 'interviews_reports' %}">Interviews</a></li>
	    	<li><a href="{% url 'view_consolidated_scores' %}">Consolidated Scores</a></li>

		</ul>
		
	</li>
	
	

    <!-- begin sidebar minify button -->
	<li><a href="#" class="sidebar-minify-btn" data-click="sidebar-minify">
	    <i class="fa fa-angle-double-left"></i></a>
	</li>
    <!-- end sidebar minify button -->
</ul>
