{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Personal Information {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}
 
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Biodata</li>
</ol>

<!-- begin page-header -->
<!-- {% for data in init_data %}
    <h1 class="page-header">Biodata <small>Personal Information | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %} -->
<!-- end page-header -->
<!-- {{ user_id }} -->
<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                                   <!--      {{ form.person_id }} -->
                <h4 class="panel-title"><b>Personal Information</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="#" method="POST" data-parsley-validate="true"
                name="form-wizard-biodata" id="new_biodata">
                    {% csrf_token %}
                    <div id="wizard_biodata">
                        <ol>
                            <li>
                                General Information
                                <small>Applicant's details.</small>
                            </li>
                            <li>
                                Education Background
                                <small> Education History</small>
                            </li>
                            <li>
                                Career Profile 
                                <small>Work Experience.</small>
                            </li> 
                            <li>
                                Emergency Contacts
                                <small>Next of Kin Particulars</small>
                            </li>                            
                        </ol>

                        {{ form.person_id }}

                       <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Place of Residence</legend>
                                <div class="row"> 
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Residence : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.residence}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Postal Address : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.address }}
                                        </div>
                                    </div>
                                    <div id="div_transfer_from" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Postal Code : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.postal_code }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Town/City : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.town }}
                                        </div>
                                    </div>
                                   <div align="center">
                                     
                                        <button id='div_btnSaveCourt' type="button" class="btn btn-primary" onClick="saveFunction('COT')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Save</b></button>
                                        <button id='div_btnUpdateCourt' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction('COT')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                        <button type="button" class="btn btn-default" onClick="cancelFunction('COT')"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                    </div>                                   
                                </div>
                            </fieldset>
                        </div>
                        <!-- end wizard step-1 -->
                  <!--   begin wizard step-2 -->

                     <div class="wizard-step-2">
                            <fieldset>
                                <legend class="pull-left width-full">Education Background<small><span id="add_org_info"></span></small></legend>
                                <!-- begin row -->
                                <div class="row"  id="parent_org_add">
                                    <span class="form-group"></span>
                                    <div id="log_education"></div>
                                    <div id="org_unit_id_div" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="org_unit_id">Education Level <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.education_level  }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_parent">Institution of Study <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.institution_of_study }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Program <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.program }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Dates <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                        <div class="row row-space-6">
                                            <div class="col-md-6 m-b-15">
                                                {{ form.program_start_date }}
                                            </div>
                                            <div class="col-md-6 m-b-15">
                                                {{ form.program_end_date }}
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Award Attained <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.award_attained }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_add" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="org_unit_primary"></label>
                                       <div align="center">
                                     
                                        <button id='div_btnSaveEdu' type="button" class="btn btn-primary" onClick="saveEduFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Save</b></button>
                                        <button id='div_btnUpdateEdu' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateEduFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                        <button type="button" class="btn btn-default" onClick="cancelEduFunction()"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                    </div>
                                    </div>
                                    <div id="selected_orgs_div">{{ form.education_list }}</div>
                                </div>
                                <!-- end row -->
                            </fieldset>
                    </div>
                <!-- end wizard step-2 -->

              <!--   begin wizard step-3 -->
                               <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full">Career Profile<small><span id="add_org_info"></span></small></legend>
                                <!-- begin row -->
                                <div class="row"  id="parent_org_add">
                                    <span class="form-group"></span>
                                    <div id="log_unit"></div>
                                    <div id="org_unit_id_div" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="org_unit_id"> Current Job <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.current_job  }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_parent">Employer <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.employer }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Job Title <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.job_title }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Dates <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                        <div class="row row-space-6">
                                            <div class="col-md-6 m-b-15">
                                                {{ form.job_start_date }}
                                            </div>
                                            <div class="col-md-6 m-b-15">
                                                {{ form.job_end_date }}
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                    <div id="org_unit_id_add" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="org_unit_primary"></label>
                                        <div align="center">
                                     
                                        <button id='div_btnSaveCourt' type="button" class="btn btn-primary" onClick="saveFunction('JOB')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Save</b></button>
                                        <button id='div_btnUpdateCourt' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction('JOB')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                        <button type="button" class="btn btn-default" onClick="cancelFunction('JOB')"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                    </div>
                                    </div>
<!--                                     <table id="org_units" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Employer</th>
                                                  <th>Job Title</th>
                                                <th>Period of Work</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table> -->
<!--                                     <label for="orgs_selected">Attached Units</label> -->
                                    <div id="selected_orgs_div">{{ form.orgs_selected }}</div>
                                </div>
                                <!-- end row -->
                            </fieldset>
                    </div>
                <!-- end wizard step-3 -->

                 <div class="wizard-step-4">
                        <fieldset>
                            <legend class="pull-left width-full">Emergency Contacts<small><span id="add_org_info"></span></small></legend>
                            <!-- begin row -->
                            <div class="row"  id="parent_org_add">
                                <span class="form-group"></span>
                                <div id="log_unit"></div>
                                <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Emergency Contact <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                        <div class="row row-space-6">
                                            <div class="col-md-6 m-b-15">
                                                {{ form.emergency_first_name }}
                                            </div>
                                            <div class="col-md-6 m-b-15">
                                                {{ form.emergency_surname }}
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                <div id="org_unit_id_parent" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="unit_parent">Relationship<span class="asteriskField">*</span> :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.emergency_relationship }}
                                    </div>
                                </div>
                                <div id="org_unit_id_parent" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Telephone Number <span class="asteriskField">*</span> :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.emergency_tel_no }}
                                    </div>
                                </div>
                                 <div id="org_unit_id_parent" class="form-group">
                                    <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Email <span class="asteriskField">*</span> :</label>
                                    <div class="col-md-6 col-sm-6">
                                        {{ form.emergency_email }}
                                    </div>
                                </div>
                                <div id="org_unit_id_add" class="form-group">
                                <label class="control-label col-md-4 col-sm-4" for="org_unit_primary"></label>
                                    <div align="center">                                     
                                        <button id='div_btnSaveCourt' type="button" class="btn btn-primary" onClick="saveFunction('KIN')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Save</b></button>
                                        <button id='div_btnUpdateCourt' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction('KIN')"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                        <button type="button" class="btn btn-default" onClick="cancelFunction('KIN')"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                    </div>
                                </div>

                                <div id="selected_orgs_div">{{ form.orgs_selected }}</div>
                            </div>
                            <!-- end row -->
                        </fieldset>
                    </div>
                    </div>

                    <!-- begin panel -->
                   <!--  <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button id="mysubmit type="submit" class="btn btn-primary">Submit</button>
                                    <button class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                            <div id="caregiver_new"></div>
                        </div>
                    </div> -->
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div> 
<!-- end row -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title"><b>Placement Followup History</b></h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="personalinfo_data_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Institution</th>
                        <th>level/Job title</th>
                        <th>Date</th>
                        <th>Award attained</th>
                        <th>Details</th>  
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>                
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript">
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
</script>

<script type="text/javascript">
function LoadPlacementEvents()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken
                 };
    $.ajax({
                url: '{% url 'manage_education' %}',
                dataType: 'json',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    // Clear <tbody>
                    $("#personalinfo_data_table tbody").html('');

                    $.each(result, function(i, val) {

                        // Data from json
                        var person_id = val.person_id;
                        var followup_type = val.followup_type;
                        var followup_date = val.followup_date;
                        var followup_details = val.followup_details;
                        var followup_outcome = val.followup_outcome;

                        // Buttons
                        var btnView = 'btnView' + i;
                        var btnEdit = 'btnEdit' + i;
                        var btnRemove = 'btnRemove' + i;
                        var tableRowId = 'tableRowId' + i;

                        // Append rows to table rows
                        $("#personalinfo_data_table tbody").append('<tr id=' + tableRowId + '>' + 
                            '<td width="10%"><h6>' + person_id + '</h6></td>' +
                            '<td width="15%"><h6>' + education_level + '</h6></td>' + 
                            '<td width="10%"><h6>' + followup_date +'</h6></td>' + 
                            '<td width="20%"><h6>' + followup_outcome + '</h6></td>' +
                            '<td width="25%"><h6>' + followup_details + '</h6></td>' +
                            '<td width="20%">' + 
                            '<button id=' + btnRemove + ' class="btn  btn-sm btn-danger m-r-5"><i class="fa fa-minus"></i></button>' +
                            '<button  id=' + btnView + ' class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-binoculars"></i></button>' +
                            '</td></tr>'
                            );

                        // Add Click Event To Buttons
                        $("#" + btnView + "").click(function(e)
                        {
                            viewFunction(education_level, val.pk);
                            $('#placementfollowup_id').val(val.pk);
                        }); 

                        $("#" + btnEdit + "").click(function(e)
                        {
                            editFunction(val.pk);
                        });

                        $("#" + btnRemove + "").click(function(e)
                        {
                            deleteFunction(val.pk);
                        }); 
                    });
                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }

            });
}

function deleteFunction(value)
{
    msgOk  = ' delete successful'
    msgError  = ' delete error'

    var data = new Array();
    var pk = value;
    var action = action;
    var csrftoken = $.cookie('csrftoken');
    var values = {  
                    'pk' : pk,
                    'csrfmiddlewaretoken': csrftoken
                 };
    

    $.ajax({
        url: '{% url 'delete_placementfollowup' %}',
        dataType: 'text',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,
        success: function(result)
        {
            // Refresh grid
            LoadPlacementEvents();

            // display success msgs
            $('#placementfollowup_msgs p').html(result + msgOk);
            $("#placementfollowup_msgs").css({ 'display': "block" });
            $("#placementfollowup_msgs").addClass('alert alert-success fade in')
            $("#placementfollowup_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
        },
        error: function(xhr, status, error)
        {
            // display error msgs
            $('#placementfollowup_msgs p').html(result + msgError);
            $("#placementfollowup_msgs").css({ 'display': "block" });
            $("#placementfollowup_msgs").addClass('alert alert-danger fade in')
            $("#placementfollowup_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
        }
    });
}

function updateFunction(followup_type)
{
    msgOk  = ' update successful'
    msgError  = ' update error'

    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();    
    var placementfollowup_id = $('#placementfollowup_id').val();
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken,   
                    'placementfollowup_id': placementfollowup_id
                 };
    var action;

    /* ---- FIRST FOUR FOLLOWUPS ----*/
    if(followup_type == 'EDU')
    { 
        action='EDU'; 
        var placementfollowup_type = $('#placementfollowup_type').val();
        // var placementfollowup_details = $('#placementfollowup_details').val();
        var placementfollowup_outcome = $('#placementfollowup_outcome').val();
        var education_level = $('#education_level').val(); 
        var followup_type = $('#placementfollowup_type').val();
        if(placementfollowup_type)
        {
            if(education_level)
            { 
                if(placementfollowup_outcome)
                {  
                    if(placementfollowup_details)
                    {        
                        values['placementfollowup_type'] = placementfollowup_type; 
                        // values['placementfollowup_details'] = placementfollowup_details;
                        values['placementfollowup_outcome'] = placementfollowup_outcome;
                        values['education_level'] = education_level;         
                        values['followup_type'] = followup_type; 
                        values['action'] = action;  
                        
                        $.ajax({
                            url: '{% url 'edit_placementfollowup' %}',
                            dataType: 'text',
                            method: 'POST',
                            contentType: 'application/x-www-form-urlencoded',
                            data: values,
                            success: function(result)
                            {
                                cancelFunction('ITP');
                                // messagingFunction(followup_type)
                                LoadPlacementEvents();

                                // display success msgs
                                $('#placementfollowup_msgs p').html(result + msgOk);
                                $("#placementfollowup_msgs").css({ 'display': "block" });
                                $("#placementfollowup_msgs").addClass('alert alert-success fade in')
                                $("#placementfollowup_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
                            },
                            error: function(xhr, status, error)
                            {
                                // display error msgs
                                $('#placementfollowup_msgs p').html(result + msgError);
                                $("#placementfollowup_msgs").css({ 'display': "block" });
                                $("#placementfollowup_msgs").addClass('alert alert-danger fade in')
                                $("#placementfollowup_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
                            }
                        }); 
                    }
                    else
                    { 
                        $("#div_placementfollowup_details").css({ 'display': "block" });
                        return false;
                    };
                } 
                else
                { 
                    $("#div_placementfollowup_outcome").css({ 'display': "block" });
                    return false;
                };
            }
            else
            { 
                $("#div_education_level").css({ 'display': "block" });
                return false;
            };
        } 
        else
        { 
            $("#div_placementfollowup_type").css({ 'display': "block" });
            return false;
        };
    }

    
function saveFunction(value)
{
    msgOk  = ' save successful'
    msgError  = ' save error'

    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken
                 };
        
       
        var education_level= $('#education_level').val()
        var institution_of_study = $('#institution_of_study').val(); 
        var program = $('#program').val();
        var program_start_date = $('#program_start_date').val();
        var program_end_date = $('#program_end_date').val();
        var award_attained = $('#award_attained').val();

        if(placementfollowup_type)
        {
            if(education_level)
            { 
                if(placementfollowup_outcome)
                {           
                    values['placementfollowup_type'] = placementfollowup_type 
                    // values['placementfollowup_details'] = placementfollowup_details;
                    values['placementfollowup_outcome'] = placementfollowup_outcome;
                    values['education_level'] = education_level;         
                    values['followup_type'] = followup_type; 
                    values['action'] = action;  
                    
                    $.ajax({
                        url: '{% url 'save_placementfollowup' %}',
                        dataType: 'text',
                        method: 'POST',
                        contentType: 'application/x-www-form-urlencoded',
                        data: values,
                        success: function(result)
                        {
                            cancelFunction('ITP');
                            // messagingFunction(followup_type)
                            LoadPlacementEvents();

                            // display success msgs
                            $('#placementfollowup_msgs p').html(result + msgOk);
                            $("#placementfollowup_msgs").css({ 'display': "block" });
                            $("#placementfollowup_msgs").addClass('alert alert-success fade in')
                            $("#placementfollowup_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
                        },
                        error: function(xhr, status, error)
                        {
                            // display error msgs
                            $('#placementfollowup_msgs p').html(result + msgError);
                            $("#placementfollowup_msgs").css({ 'display': "block" });
                            $("#placementfollowup_msgs").addClass('alert alert-danger fade in')
                            $("#placementfollowup_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
                        }
                    });
                } 
                else
                { 
                    $("#div_placementfollowup_outcome").css({ 'display': "block" });
                    return false;
                };
            }
            else
            { 
                $("#div_education_level").css({ 'display': "block" });
                return false;
            };
        } 
        else
        { 
            $("#div_placementfollowup_type").css({ 'display': "block" });
            return false;
        };



// function viewFunction(followup_type, value)
// {
//     var data = new Array();
//     var csrftoken = $.cookie('csrftoken');
//     var person = $('#person').val();
//     var values = {  
//         'csrfmiddlewaretoken': csrftoken,
//         'person': person,
//         'followup_id':value
//     };

//     // ITP/Tracing/Case Conferencing/Home Visit
//     var first4followups = ['Individual Treatment Plan','Case Conferencing', 'Home Visit', 'Tracing','Individual Care Plan'] 
//     var found = $.inArray(followup_type, first4followups);
//     if(found > -1)
//     {
//         values['followup_type'] = 'EDU';
//         $.ajax({
//             url: '{% url 'view_placementfollowup' %}',
//             dataType: 'json',
//             method: 'POST',
//             data: values,
//             success: function(result)
//             {
//                  // cancelFunction('ITP');
//                  $.each(result, function(i, val) {                
//                     // Data from json
//                     var person_id = val.person_id;
//                     var followup_type = val.followup_type;
//                     var followup_date = val.followup_date;
//                     // var followup_details = val.followup_details;
//                     var followup_outcome = val.followup_outcome;

//                     // LoadData 
//                     $('#placementfollowup_type').val(followup_type);
//                     $('#education_level').val(followup_date);
//                     $('#placementfollowup_outcome').val(followup_outcome);
//                     // $('#placementfollowup_details').val(followup_details);
//                  });

//                 // Hide SaveButton/Show Update Button
//                 $('#div_btnSaveEDU').css({ 'display': 'none' })
//                 $('#div_btnUpdateEDU').css({ 'display': 'block' })
//             },
//             error: function(xhr, status, error)
//             {
//                 alert(error);
//             }
//         });        
//     }
//     else
//     {
//         /** All the other follow-ups ... **/
//         values['followup_type'] = followup_type;

//         // Education
//         if(followup_type == 'Education')
//         {
//             // $("#wizard_placementfollowup").bwizard({ ui.index = 0; })
//             $.ajax({
//                 url: '{% url 'view_placementfollowup' %}',
//                 dataType: 'json',
//                 method: 'POST',
//                 data: values,
//                 success: function(result)
//                 {
//                     // cancelFunction('EDU');
//                     $.each(result, function(i, val) {                
//                         // Data from json
//                         var admitted_to_school = val.admitted_to_school;
//                         var admission_level = val.admission_level;
//                         var admission_sublevel = val.admission_sublevel;
//                         var admmission_to_school_date = val.admission_to_school_date;
//                         var education_comments = val.education_comments;

//                         // LoadData 
//                         $('#admmitted_to_school').val(admitted_to_school);
//                         $('#admmitted_to_school').trigger('change');
//                         if(admmitted_to_school){
//                             $('#div_admmission_to_school_date').css({'display': 'block'});
//                             $('#div_admmission_class').css({'display': 'block'}); 
//                             $('#admmission_class').val(admission_level);
//                             $('#admmission_class').multiselect('refresh');
//                             displayVals('admmission_class');
//                             $('#admmission_to_school_date').val(admmission_to_school_date)
//                         }

//                         var found = $.inArray('ACVT', admission_level);
//                         if(found > -1){
//                             console.log(admission_level);

//                             $('#div_admmission_subclass').css({'display': 'block'}); 
//                             $('#admmission_subclass').val(admission_sublevel); 
//                         }
//                         $('#education_comments').val(education_comments);

//                      });

//                     // Hide SaveButton/Show Update Button
//                     $('#div_btnSaveEducation').css({ 'display': 'none' })
//                     $('#div_btnUpdateEducation').css({ 'display': 'block' })
//                 },
//                 error: function(xhr, status, error)
//                 { 
//                     alert(error);
//                 }
//             });  
//         }

//         // Adverse Events
//         if(followup_type == 'Adverse Events')
//         {
//             $.ajax({
//                 url: '{% url 'view_placementfollowup' %}',
//                 dataType: 'json',
//                 method: 'POST',
//                 data: values,
//                 success: function(result)
//                 {
//                     // cancelFunction('DIS');
//                     $.each(result, function(i, val) {                
//                         // Data from json
//                         var adverse_condition_description = val.adverse_condition_description;
//                         var adverse_event_date = val.adverse_event_date;
//                         var adverse_medical_condition = val.adverse_medical_condition;                        

//                         // LoadData 
//                         $('#adverse_events').val(adverse_condition_description)
//                         $('#adverse_event_date').val(adverse_event_date)
//                         if(adverse_condition_description == 'AEMC'){
//                             $('#div_adverse_medical_events').css({ 'display': 'block' });
//                             $('#adverse_medical_events').val(adverse_medical_condition); 
//                             $('#adverse_medical_events').multiselect('refresh');
//                             displayVals('adverse_medical_events');
//                         }
//                      });             
                            
//                     // Hide SaveButton/Show Update Button
//                     $('#div_btnSaveAdverse').css({ 'display': 'none' })
//                     $('#div_btnUpdateAdverse').css({ 'display': 'block' })
//                 },
//                 error: function(xhr, status, error)
//                 { 
//                     alert(error);
//                 }
//             }); 
//         }

//         // Court
//         if(followup_type = 'COURT MENTION' || followup_type == 'COURT HEARING')
//         {
//             $.ajax({
//                 url: '{% url 'view_placementfollowup' %}',
//                 dataType: 'json',
//                 method: 'POST',
//                 data: values,
//                 success: function(result)
//                 {
//                     // cancelFunction('DIS');
//                     $.each(result, function(i, val) {                
//                         // Data from json
//                         var case_event_type_id = val.case_event_type_id
//                         var date_of_event = val.date_of_event
//                         var case_event_details = val.case_event_details
//                         var case_event_notes = val.case_event_notes
//                         var case_event_outcome = val.case_event_outcome
//                         var next_hearing_date = val.next_hearing_date
//                         var next_mention_date = val.next_mention_date
//                         var court_order = val.court_order 
//                         var casecategories = val.case_category                       

//                         // LoadData 
//                         $('#court_session_case').val(casecategories)
//                         $('#court_session_case').multiselect('refresh')
//                         $('#court_session_type').val(case_event_type_id)
//                         $('#court_session_type').multiselect('refresh')
//                         $('#date_of_court_event').val(date_of_event)
//                         $('#court_outcome').val(case_event_outcome)
//                         $('#court_outcome').multiselect('refresh')
//                         // displayVals('court_outcome');

//                         if(case_event_type_id == 'STHR') {
//                             if(case_event_outcome == 'CADJ') {
//                                 $('#div_next_hearing_date').css({'display': 'block'})
//                                 $('#next_hearing_date').val(next_hearing_date)
//                             }
//                             if(case_event_outcome == 'CRUL') {
//                                 $('#div_court_order').css({'display': 'block'})
//                                 $('#court_order').val(court_order)
//                                 $('#court_order').multiselect('refresh')
//                                 displayVals('court_order');
//                             }
//                         }  

//                         if(case_event_type_id == 'STMN'){
//                             $('#div_next_mention_date').css({'display': 'block'})
//                             $('#next_mention_date').val(next_mention_date)
//                         }                      
//                         $('#court_notes').val(case_event_notes)
//                      });  

//                     // Hide Update/Show SaveButton
//                     $('#div_btnSaveCourt').css({ 'display': 'none' })
//                     $('#div_btnUpdateCourt').css({ 'display': 'block' })
//                 },
//                 error: function(xhr, status, error)
//                 { 
//                     alert(error);
//                 }
//             });  
//         }

//         // Discharge
//         if(followup_type == 'Discharge')
//         {
//             $.ajax({
//                 url: '{% url 'view_placementfollowup' %}',
//                 dataType: 'json',
//                 method: 'POST',
//                 data: values,
//                 success: function(result)
//                 {
//                     // cancelFunction('DIS');
//                     $.each(result, function(i, val) {                
//                         // Data from json
//                         var discharge_type = val.type_of_discharge;
//                         var date_of_discharge = val.date_of_discharge;
//                         var discharge_destination = val.discharge_destination;
//                         var reason_of_discharge = val.reason_of_discharge;
//                         var expected_return_date = val.expected_return_date;
//                         var actual_return_date = val.actual_return_date;
//                         var discharge_comments = val.discharge_comments;

//                         // LoadData 
//                         $('#discharge_type').val(discharge_type);
//                         $('#discharge_type').trigger('change');
//                         $('#discharge_date').val(date_of_discharge);
//                         if(discharge_type == 'TDTR'){
//                             $('#div_expected_return_date').css({'display': 'block'})
//                             $('#expected_return_date').val(expected_return_date);
//                         }
//                         if(discharge_type == 'DTSI'){
//                             $('#div_discharge_destination').css({'display': 'block'})
//                             $('#discharge_destination').val(discharge_destination);
//                             $('#discharge_destination').multiselect('rebuild');
//                             displayVals('discharge_destination');
//                         }
//                         $('#discharge_reason').val(reason_of_discharge);
//                         // $('#actual_return_date').val(actual_return_date);
//                         $('#discharge_comments').val(discharge_comments);

//                      });             
                            
//                     // Hide SaveButton/Show Update Button
//                     $('#div_btnSaveDischarge').css({ 'display': 'none' })
//                     $('#div_btnUpdateDischarge').css({ 'display': 'block' })
//                 },
//                 error: function(xhr, status, error)
//                 { 
//                     alert(error);
//                 }
//             });  
//         }
//     }
// }

function editFunction(value)
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
        'csrfmiddlewaretoken': csrftoken,
        'person': person,
        'followup_id':followup_id,
        'followup_type':followup_type
    };

    $.ajax({
        url: '{% url 'view_placementfollowup' %}',
        dataType: 'json',
        method: 'POST',
        data: values,
        success: function(result)
        {
             $.each(result, function(i, val) {
                // Data from json
                var person_id = val.person_id;
                var followup_type = val.followup_type;
                var followup_type_code = val.followup_type_code;
                var followup_date = val.followup_date;
                var followup_details = val.followup_details;
                var followup_outcome = val.followup_outcome;

                // LoadData 
                $('#placementfollowup_type').val(followup_type);
                $('#education_level').val(followup_date);
                $('#placementfollowup_outcome').val(followup_outcome);
                $('#placementfollowup_details').val(followup_details);

                // Hide SaveButton/Show Update Button
                $('#div_btnSaveEDU').css({ 'display': 'none' })
                $('#div_btnUpdateEDU').css({ 'display': 'block' })

             });
        },
        error: function(xhr, status, error)
        {
            alert(error);
        }
    });
}
function cancelFunction(value)
{

        $('#placementfollowup_type').val('');
        $('#education_level').val('');
        $('#placementfollowup_details').val('');
        $('#placementfollowup_outcome').val('');

        // Hide Update/Show SaveButton
        $('#div_btnSaveEDU').css({ 'display': 'block' })
        $('#div_btnUpdateEDU').css({ 'display': 'none' })

}
function messagingFunction(value)
{
    $("#div_placementfollowup_msgs").css({ 'display': "block" }); 
    if(value == 'FUIT') { $('#div_placementfollowup_msgs p').html('ITP Followup Save Successful'); } 
    if(value == 'FUCC') { $('#div_placementfollowup_msgs p').html('Case Conferencing Followup Save Successful'); } 
    if(value == 'FHEA') { $('#div_placementfollowup_msgs p').html('Home Environment Adjustment Visit Followup Save Successful'); } 
    if(value == 'FUTT') { $('#div_placementfollowup_msgs p').html('Tracing Followup Save Successful'); } 
    if(value == 'FUAP') { $('#div_placementfollowup_msgs p').html('Assessment and Placement Save Successful'); } 
    if(value == 'FUIC') { $('#div_placementfollowup_msgs p').html('ICP Followup Save Successful'); } 
    if(value == 'DIS') { $('#div_placementfollowup_msgs p').html('Discharge/Release Followup Save Successful'); } 
    if(value == 'EDU') { $('#div_placementfollowup_msgs p').html('Education Followup Save Successful'); } 
    if(value == 'ADV') { $('#div_placementfollowup_msgs p').html('Adverse Events Followup Save Successful'); } 
    if(value == 'COT') { $('#div_placementfollowup_msgs p').html('Court Session Followup Save Successful'); } 
}
function displayVals(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length)
       {
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    // $( "#sel_"+value ).html(selections.join( ", <br>" ) );
    $( "#sel_"+value ).html(selections.join( "," ) );
}
function getJsonObject001()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var action = 2;
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken,
                    'action': action
                 };
     $.ajax({
            url: '{% url 'getJsonObject001' %}',
            dataType: 'json',
            method: 'POST',
            data: values,
            success: function(result)
            {
                var multiselect_data = [];
                var multiselect_dict = {};
                var multiselect_dict_initial = { label:'Please Select', value:''};
                multiselect_data.push(multiselect_dict_initial);
                $.each(result, function(i, val) {
                    if(result)
                    {
                        var case_category_id = val.case_category_id;
                        var case_category = val.case_category;
                        var multiselect_dict = { label: case_category, value: case_category_id };
                        // var emrgency_dict = { label: "EMERGENCY", value: ''}
                        multiselect_data.push(multiselect_dict);
                    }
                }); 

                //multi selects
                $('#court_session_case').multiselect({
                    selectAllValue: 'multiselect-all',
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white'
                }); 
                $("#court_session_case").multiselect("refresh");
                $("#court_session_case").multiselect('dataprovider', multiselect_data);
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });    
}

$("#court_session_case").change(function(event) 
{ 
   $('#div_court_session_case_').css({'display': 'none'});
});
$('#court_session_case').trigger('change');

$("#court_session_type").change(function(event) 
{ 
    var court_session_type = $('#court_session_type').val();
    if(court_session_type == 'STMN')
    {
        $('#div_next_mention_date').css({'display': 'block'});

        $('#div_court_outcome').css({'display': 'none'});
        $('#court_outcome').multiselect('clearSelection');
        $('#court_outcome').multiselect('refresh');
        $('#court_outcome').trigger('change');

        $('#div_court_order').css({'display': 'none'}) 
        $('#court_order').multiselect('clearSelection');
        $('#court_order').multiselect('refresh')
        $('#sel_court_order').html(''); 
    }
    else if(court_session_type == 'STHR')
    {
        $('#div_next_mention_date').css({'display': 'none'});
        $('#next_mention_date').val('');
        $('#div_court_outcome').css({'display': 'block'});
    }
    else
    {
        $('#div_court_outcome').css({'display': 'none'});
        $('#court_outcome').multiselect('clearSelection');
        $('#court_outcome').multiselect('refresh')

        $('#div_next_mention_date').css({'display': 'none'});
        $('#next_mention_date').val('');
    }
    $("#court_msgs2").css({ 'display': "none" });
});

$("#date_of_court_event").change(function(event) 
{ 
   $('#div_date_of_court_event_').css({'display': 'none'});
});
$('#date_of_court_event').trigger('change');

$("#court_outcome").change(function(event) 
{ 
    var court_outcome = $('#court_outcome').val();
    if(court_outcome)
    {
        if(court_outcome == 'CADJ')
        {
            $('#div_court_order').css({'display': 'none'}) 
            $('#court_order').multiselect('clearSelection');
            $('#court_order').multiselect('refresh')
            $('#sel_court_order').html(''); 
            $('#div_next_hearing_date').css({'display': 'block'});
        }
        else if(court_outcome == 'CRUL')
        {
            $('#div_court_order').css({'display': 'block'});
            $('#div_next_hearing_date').css({'display': 'none'}); 
            $('#next_hearing_date').val(''); 
        }
    }
    else
    {
    }
});
$('#court_outcome').trigger('change');

$("#next_hearing_date").change(function(event) 
{ 
   $('#div_next_hearing_date_').css({'display': 'none'});
});
$('#next_hearing_date').trigger('change');

$("#next_mention_date").change(function(event) 
{ 
   $('#div_next_mention_date_').css({'display': 'none'});
});
$('#next_mention_date').trigger('change');

$("#court_order").change(function(event) 
{ 
   $('#div_court_order_').css({'display': 'none'});
});
$('#court_order').trigger('change');

$("#court_session_type").change(function(event) 
{ 
   $('#div_court_session_type_').css({'display': 'none'});
});

$("#admmitted_to_school").change(function(event) 
{ 
    var admmitted_to_school = $('#admmitted_to_school').val();
    if(admmitted_to_school == 'AYES')
    {
        $('#div_name_of_school').css({'display': 'block'});
        $('#div_admmission_type').css({'display': 'block'});
        $('#div_admmission_date').css({'display': 'block'});
        $('#div_admmission_class').css({'display': 'block'});
        $('#div_not_in_school_reason').css({'display': 'none'});
        $('#not_in_school_reason').val('');
    }
    else
    {
        $('#div_name_of_school').css({'display': 'none'});
        $('#name_of_school').multiselect('clearSelection');
        $('#name_of_school').multiselect('refresh');

        $('#div_not_in_school_reason').css({'display': 'none'});
        $('#not_in_school_reason').val('');

        $('#div_admmission_type').css({'display': 'none'});
        $('#admmission_type').val('');

        $('#div_admmission_date').css({'display': 'none'});
        $('#admmission_to_school_date').val('');

        $('#div_admmission_class').css({'display': 'none'});
        $('#admmission_class').multiselect('clearSelection');
        $('#admmission_class').multiselect('refresh');
        $('#admmission_class').trigger('change');

        $('#div_not_in_school_reason').css({'display': 'block'});
    }
});

$("#admmission_class").change(function(event) 
{ 
    var admmission_class = $('#admmission_class').val();
    var found = $.inArray('ACVT', admmission_class)
    if(found > -1)   
    {
        $('#div_admmission_subclass').css({'display': 'block'});  
    }
    else
    {
        $('#div_admmission_subclass').css({'display': 'none'}); 
        $('#admmission_subclass').val('');
    }
    $('#div_admmission_class_').css({'display': 'none'}); 
    displayVals('admmission_class');
});
// // $('#admmission_class').trigger('change');

$("#admmission_subclass").change(function(event) 
{ 
    $('#div_admmission_subclass_').css({'display': 'none'}); 
});
$('#admmission_subclass').trigger('change');

$("#admmission_to_school_date").change(function(event) 
{ 
    $('#div_admmission_to_school_date_').css({'display': 'none'});
});
$('#admmission_to_school_date').trigger('change');

$("#not_in_school_reason").change(function(event) 
{ 
    $('#div_not_in_school_reason_').css({'display': 'none'});
});
$('#not_in_school_reason').trigger('change');

$("#name_of_school").change(function(event) 
{ 
    $('#div_name_of_school_').css({'display': 'none'});
});
// $('#name_of_school').trigger('change');

$("#discharge_type").change(function(event) 
{ 
    var discharge_type = $('#discharge_type').val();
    if(discharge_type == 'TDTR')
    {
        // $('#div_actual_return_date').css({'display': 'block'});
        $('#div_expected_return_date').css({'display': 'block'}); 
        $('#div_discharge_destination').css({'display': 'none'}); 

        // Reconfigure expected_return_date
        $('#expected_return_date').val('');
        $('#expected_return_date').datepicker('remove');
        $('#expected_return_date').datepicker({ 
            startDate: new Date(),
            format: 'dd-M-yyyy'
        });

        // Reset discharge_destination
        //$("#discharge_destination").multiselect("clearSelection");
        //$("#discharge_destination").multiselect( 'refresh' );
    }
    else if(discharge_type == 'DTSI')
    {
        $( "#sel_discharge_destination").html('');
        $('#div_discharge_destination').css({'display': 'block'}); 

        $('#div_expected_return_date').css({'display': 'none'}); 
        $('#expected_return_date').val('');
    }
    else
    {
        $('#div_discharge_destination').css({'display': 'none'});
        // Reset discharge_destination
        // $("#discharge_destination").multiselect("clearSelection");

        $('#div_expected_return_date').css({'display': 'none'}); 
        $('#expected_return_date').val('');
    }
});
$('#discharge_type').trigger('change');

$("#discharge_destination").change(function(event) 
{ 
    displayVals('discharge_destination');
});
$('#admmission_to_school_date').trigger('change');

$("#adverse_events").change(function(event) 
{
    var adverse_event = $('#adverse_events').val();
    if(adverse_event == 'AEMC')
    {
        $('#div_adverse_medical_events').css({'display': 'block'});     
    }
    else
    { 
        if(adverse_event) 
        {         
            $('#div_adverse_medical_events').css({'display': 'none'});
            $("#adverse_medical_events").multiselect("clearSelection");
            $("#sel_adverse_medical_events").html('');
        }       
    }
    $('#div_adverse_events_').css({'display': 'none'});
});
$('#adverse_events').trigger('change');

$("#adverse_medical_events").change(function(event) 
{ 
    displayVals("adverse_medical_events");
    $('#div_adverse_medical_events_').css({'display': 'none'});
});
$('#adverse_medical_events').trigger('change');

$("#adverse_event_date").change(function(event) 
{
    $('#div_adverse_event_date_').css({'display': 'none'});
});
$('#adverse_medical_events').trigger('change');

$("#court_order").change(function(event) 
{ 
    displayVals("court_order");
});
$('#court_order').trigger('change');

$("#placementfollowup_type").change(function(event) 
{ 
    $('#div_placementfollowup_type').css({'display': 'none'});
});
$('#placementfollowup_type').trigger('change');

$("#education_level").change(function(event) 
{ 
    $('#div_education_level').css({'display': 'none'});
});
$('#education_level').trigger('change');

$('#placementfollowup_outcome').keyup(function() {
    if($(this).val()) // get the current value of the input field    
    {
        $("#div_placementfollowup_outcome").css({ 'display': "none" }); 
    }
});
$('#placementfollowup_outcome').trigger('keyup');

$('#placementfollowup_details').keyup(function() {
    if($(this).val()) // get the current value of the input field    
    {
        $("#div_placementfollowup_details").css({ 'display': "none" }); 
    }
});
$('#placementfollowup_details').trigger('keyup');

$("#date_of_court_event").change(function(event) 
{ 
    var date_of_court_event = $('#date_of_court_event').datepicker('getDate');
    var new_date = date_of_court_event.getDate() + '/' 
                                + (date_of_court_event.getMonth() + 1) + '/' 
                                + date_of_court_event.getFullYear(); 

    // Reconfigure date_of_next_hearing
    $('#next_hearing_date').val('');
    $('#next_hearing_date').datepicker('remove');
    $('#next_hearing_date').datepicker({ 
        startDate: new_date,
        format: 'dd-M-yyyy'
    });
});
</script>

{% endblock %}
