{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Career Profile {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}
 
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Biodata</li>
</ol>

<!-- begin page-header -->
<!-- {% for data in init_data %}
    <h1 class="page-header">Biodata <small>Personal Information | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %} -->
<!-- end page-header -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}


<!-- <div id="education_messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div> -->
<!-- {% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %} -->

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                                        {{ form.person }}
                <h4 class="panel-title"><b>Personal Information</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" method="POST" data-parsley-validate="true"
                name="form-wizard-biodata" id="new_biodata">
                    {% csrf_token %}


                    <div id="wizard_biodata">
                        <ol>

                            <li>
                                Career Profile
                                <small>Work Experience Particulars</small>
                            </li>
                                                
                        </ol>



                 <!--   begin wizard step-3 -->
                               <div class="wizard-step-3">
                            <fieldset>
                                <legend class="pull-left width-full">Add your career particulars<small><span id="add_org_info"></span></small></legend>
                                <!-- begin row -->
                                <div class="row"  id="parent_org_add">
                                    <span class="form-group"></span>
                                    <div id="log_unit"></div>
                                   <!--  <div id="org_unit_id_div" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="org_unit_id"> Current Job <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.current_job  }}
                                        </div>
                                    </div> -->
                                    <div id="div_employer" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_parent">Employer <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.employer }}
                                        </div>
                                    </div>
                                    <div id="div_job_title" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Job Title <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                            {{ form.job_title }}
                                        </div>
                                    </div>
                                    <div id="org_unit_id_parent" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4" for="unit_reg_assistant">Dates <span class="asteriskField">*</span> :</label>
                                        <div class="col-md-6 col-sm-6">
                                        <div class="row row-space-6">
                                            <div class="col-md-6 m-b-15" id="div_job_start_date">
                                                {{ form.job_start_date }}
                                            </div>
                                            <div class="col-md-6 m-b-15" id="div_job_end_date">
                                                {{ form.job_end_date }}
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                            
                                       <div align="center">
                                        <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" id="div_btnSave" class="btn btn-primary" value="submit" id="s1" onclick="saveFunction()"> <i class="fa fa-plus"></i>&nbsp;<b>Add</b></button>
                                    <!-- <button type="button" class="btn btn-default">Cancel</button> -->
                                    <button id='div_btnUpdate' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                    <button type="button" class="btn btn-default" onClick="cancelFunction()"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                </div>
                            </div>
                                     
                                    </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </fieldset>
                            </div>
                            </div>
                <!-- end wizard step-2 -->

              </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->

<!-- end row -->

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
            <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title"><b>Career Profile</b></h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="personalinfo_data_table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Employer</th>
                        <th>Job Title</th>
                        <th>Start Date</th>
                        <th> End date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>                
                </tbody>
            </table>
        </div>
    </div>
    </div>


{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript">
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
</script>
<script>
jQuery(document).ready(function() 
{
    LoadCareerDetails();
});


</script>

<script type="text/javascript">
function LoadCareerDetails()
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken
                 };
    $.ajax({
                url: '{% url 'manage_career' %}', 
                dataType: 'json',
                method: 'POST',
                contentType: 'application/x-www-form-urlencoded',
                data: values,
                success: function(result)
                {
                    // Clear <tbody>
                    $("#personalinfo_data_table tbody").html('');

                    $.each(result, function(i, val) {

                        // Data from json
                        var employer=val.employer;
                        var job_start_date=val.job_start_date;
                        var job_end_date=val.job_end_date;
                        var job_title=val.job_title;

                        // Buttons
                        var btnView = 'btnView' + i;
                        var btnEdit = 'btnEdit' + i;
                        var btnRemove = 'btnRemove' + i;
                        var tableRowId = 'tableRowId' + i;

                        // Append rows to table rows
                        $("#personalinfo_data_table tbody").append('<tr id=' + tableRowId + '>' + 
                            '<td width="10%"><h6>' + employer + '</h6></td>' +
                            '<td width="15%"><h6>' + job_title + '</h6></td>' +
                            '<td width="10%"><h6>' + job_start_date + '</h6></td>' +
                            '<td width="10%"><h6>' + job_end_date + '</h6></td>' +
                            
                            '<td width="20%">' + 
                            '<button id=' + btnRemove + ' class="btn  btn-sm btn-danger m-r-5"><i class="fa fa-minus"></i></button>' +
                            '<button  id=' + btnView + ' class="btn  btn-sm btn-primary m-r-5"><i class="fa fa-binoculars"></i></button>' +
                            '</td></tr>'
                            );

                        // Add Click Event To Buttons
                        $("#" + btnView + "").click(function(e)
                        {
                            viewFunction( val.pk);
                        }); 

                        $("#" + btnEdit + "").click(function(e)
                        {
                            editFunction(val.pk);
                        });

                        $("#" + btnRemove + "").click(function(e)
                        {
                            deleteFunction(val.pk);
                        }); 
                    });
                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }

            });
}

    
function saveFunction()
{
    msgOk  = ' save successful'
    msgError  = ' save error'

    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
                    'person' : person,
                    'csrfmiddlewaretoken': csrftoken,
                 };
        // var action;

        var employer = $('#employer').val();
        var job_start_date = $('#job_start_date').val();
        var job_end_date = $('#job_end_date').val();
        var job_title = $('#job_title').val();


                if(employer)
                {
                    if(job_title)
                    {
                        if(job_start_date)
                        {
                            if(job_end_date)
                            {
                                values['employer']=employer;
                                values['job_start_date']=job_start_date;
                                values['job_end_date']=job_end_date;
                                values['job_title']=job_title; 
 
                                
                                $.ajax({
                                    url: '{% url 'save_career' %}',
                                    dataType: 'text',
                                    method: 'POST',
                                    contentType: 'application/x-www-form-urlencoded',
                                    data: values,
                                    success: function(result)
                                    {
                                        cancelFunction();
                                        // messagingFunction()
                                        LoadCareerDetails();

                                        // display success msgs
                                        $('#education_msgs p').html(result + msgOk);
                                        $("#education_msgs").css({ 'display': "block" });
                                        $("#education_msgs").addClass('alert alert-success fade in')
                                        $("#education_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
                                    },
                                    error: function(xhr, status, error)
                                    {
                                        // display error msgs
                                        $('#education_msgs p').html(result + msgError);
                                        $("#education_msgs").css({ 'display': "block" });
                                        $("#education_msgs").addClass('alert alert-danger fade in')
                                        $("#education_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
                                    }
                        }); 

                            }
                            else
                            {
                                $("#div_job_title").css({ 'display': "block" });
                                return false;
                            }

                        }
                        else
                        {
                            $("#div_job_end_date").css({ 'display': "block" });
                            return false;
                        }

                    }
                    else
                    {
                        $("#div_job_start_date").css({ 'display': "block" });
                        return false;
                    }

                }
                else
                {
                    $("#div_employer").css({ 'display': "block" });
                    return false;
                };


function deleteCareer(value)
{
    msgOk  = ' delete successful'
    msgError  = ' delete error'

    var data = new Array();
    var pk = value;
    var action = action;
    var csrftoken = $.cookie('csrftoken');
    var values = {  
                    'pk' : pk,
                    'csrfmiddlewaretoken': csrftoken
                 };
    

    $.ajax({
        url: '{% url 'delete_career' %}',
        dataType: 'text',
        method: 'POST',
        contentType: 'application/x-www-form-urlencoded',
        data: values,
        success: function(result)
        {
            // Refresh grid
            LoadCareerDetails();

            // display success msgs
            $('#education_msgs p').html(result + msgOk);
            $("#education_msgs").css({ 'display': "block" });
            $("#education_msgs").addClass('alert alert-success fade in')
            $("#education_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
        },
        error: function(xhr, status, error)
        {
            // display error msgs
            $('#education_msgs p').html(result + msgError);
            $("#education_msgs").css({ 'display': "block" });
            $("#education_msgs").addClass('alert alert-danger fade in')
            $("#education_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
        }
    });
}

// function updateFunction()
// {
//     msgOk  = ' update successful'
//     msgError  = ' update error'

//     var data = new Array();
//     var csrftoken = $.cookie('csrftoken');
//     var person = $('#person').val();    
//     var education_id = $('#education_id').val();
//     var values = {  
//                     'person' : person,
//                     'csrfmiddlewaretoken': csrftoken,   
//                     'education_id': education_id
//                  };
 

//         var education_level = $('#education_level').val(); 
//         var institution_of_study=$('#institution_of_study').val();
//         var employer = $('#employer').val();
//         var job_start_date = $('#job_start_date').val();
//         var job_end_date = $('#job_end_date').val();
//         var job_title = $('#job_title').val();

//         if (education_level)
//         {
//             if(institution_of_study)
//             {
//                 if(employer)
//                 {
//                     if(job_start_date)
//                     {
//                         if(job_end_date)
//                         {
//                             if(job_title)
//                             {
//                                 values['education_level']=education_level;
//                                 values['institution_of_study']=institution_of_study;
//                                 values['employer']=employer;
//                                 values['job_start_date']=job_start_date;
//                                 values['job_end_date']=job_end_date;
//                                 values['job_title']=job_title; 
 
                                
//                                 $.ajax({
//                                     url: '{% url 'edit_education' %}',
//                                     dataType: 'text',
//                                     method: 'POST',
//                                     contentType: 'application/x-www-form-urlencoded',
//                                     data: values,
//                                     success: function(result)
//                                     {
//                                         cancelFunction();
//                                         // messagingFunction(followup_type)
//                                         LoadCareerDetails();

//                                         // display success msgs
//                                         $('#education_msgs p').html(result + msgOk);
//                                         $("#education_msgs").css({ 'display': "block" });
//                                         $("#education_msgs").addClass('alert alert-success fade in')
//                                         $("#education_msgs").find('i').addClass('fa fa-check fa-2x pull-left');
//                                     },
//                                     error: function(xhr, status, error)
//                                     {
//                                         // display error msgs
//                                         $('#education_msgs p').html(result + msgError);
//                                         $("#education_msgs").css({ 'display': "block" });
//                                         $("#education_msgs").addClass('alert alert-danger fade in')
//                                         $("#education_msgs").find('i').addClass('fa fa-info fa-2x pull-left');
//                                     }
//                         }); 

//                             }
//                             else
//                             {
//                                 $("#div_job_title").css({ 'display': "block" });
//                                 return false;
//                             }

//                         }
//                         else
//                         {
//                             $("#div_job_end_date").css({ 'display': "block" });
//                             return false;
//                         }

//                     }
//                     else
//                     {
//                         $("#div_job_start_date").css({ 'display': "block" });
//                         return false;
//                     }

//                 }
//                 else
//                 {
//                     $("#div_employer").css({ 'display': "block" });
//                     return false;
//                 }

//             }
//             else
//             {
//                 $("#div_institution_of_study").css({ 'display': "block" });
//                 return false;

//             }

//         }
//         else
//         {
//             $("#div_education_level").css({ 'display': "block" });
//             return false;

//         };

// function viewFunction(value)
// {
//     var data = new Array();
//     var csrftoken = $.cookie('csrftoken');
//     var person = $('#person').val();
//     var values = {  
//         'csrfmiddlewaretoken': csrftoken,
//         'person': person,
//         // 'followup_id':value
//     };

//     var found = $.inArray();
//     if(found > -1)
//     {
//         $.ajax({
//             url: '{% url 'view_education' %}',
//             dataType: 'json',
//             method: 'POST',
//             data: values,
//             success: function(result)
//             {
//                  // cancelFunction('ITP');
//                  $.each(result, function(i, val) {                
//                     // Data from json
//                     var person_id = val.person_id;
//                     var followup_type = val.followup_type;
//                     var followup_date = val.followup_date;
//                     // var followup_details = val.followup_details;
//                     var followup_outcome = val.followup_outcome;

//                     // LoadData 
//                     $('#placementfollowup_type').val(followup_type);
//                     $('#education_level').val(followup_date);
//                     $('#placementfollowup_outcome').val(followup_outcome);
//                     // $('#placementfollowup_details').val(followup_details);
//                  });

//                 // Hide SaveButton/Show Update Button
//                 $('#div_btnSaveEDU').css({ 'display': 'none' })
//                 $('#div_btnUpdateEDU').css({ 'display': 'block' })
//             },
//             error: function(xhr, status, error)
//             {
//                 alert(error);
//             }
//         });        
//     }

// }

function editFunction(value)
{
    var data = new Array();
    var csrftoken = $.cookie('csrftoken');
    var person = $('#person').val();
    var values = {  
        'csrfmiddlewaretoken': csrftoken,
        'person': person,
        // 'followup_id':followup_id

    };

    $.ajax({
        url: '{% url 'view_education' %}',
        dataType: 'json',
        method: 'POST',
        data: values,
        success: function(result)
        {
             $.each(result, function(i, val) {
                // Data from json
                var person_id = val.person_id;
                var education_level=val.education_level;
                var institution_of_study=val.institution_of_study;
                var employer=val.employer;
                var job_start_date=val.job_start_date;
                var job_end_date=val.job_end_date;
                var job_title=val.job_title;

                // LoadData 
                $('#education_level').val(education_level);
                $('#institution_of_study').val(institution_of_study);
                $('#employer').val(employer);
                $('#job_start_date').val(job_start_date);
                $('#job_end_date').val(job_end_date);
                $('#job_title').val(job_title);

                // Hide SaveButton/Show Update Button
                $('#div_btnSave').css({ 'display': 'none' })
                $('#div_btnUpdate').css({ 'display': 'block' })

             });
        },
        error: function(xhr, status, error)
        {
            alert(error);
        }
    });
}
function cancelFunction()
{

        $('#employer').val('');
        $('#job_start_date').val('');
        $('#job_end_date').val('');
        $('#job_title').val('');


        // Hide Update/Show SaveButton
        $('#div_btnSave').css({ 'display': 'block' })
        $('#div_btnUpdate').css({ 'display': 'none' })

}
// function messagingFunction(value)
// {
//     $("#div_education_msgs").css({ 'display': "block" }); 
//     if(value == 'FUIT') { $('#div_education_msgs p').html('ITP Followup Save Successful'); } 
//     if(value == 'FUCC') { $('#div_education_msgs p').html('Case Conferencing Followup Save Successful'); } 
//     if(value == 'FHEA') { $('#div_education_msgs p').html('Home Environment Adjustment Visit Followup Save Successful'); } 
//     if(value == 'FUTT') { $('#div_education_msgs p').html('Tracing Followup Save Successful'); } 
//     if(value == 'FUAP') { $('#div_education_msgs p').html('Assessment and Placement Save Successful'); } 
//     if(value == 'FUIC') { $('#div_education_msgs p').html('ICP Followup Save Successful'); } 
//     if(value == 'DIS') { $('#div_education_msgs p').html('Discharge/Release Followup Save Successful'); } 
//     if(value == 'EDU') { $('#div_education_msgs p').html('Education Followup Save Successful'); } 
//     if(value == 'ADV') { $('#div_education_msgs p').html('Adverse Events Followup Save Successful'); } 
//     if(value == 'COT') { $('#div_education_msgs p').html('Court Session Followup Save Successful'); } 
// }
function displayVals(value)
{
    var selections = [];
    $("#" + value + " option:selected").each(function () 
    {
       var $this = $(this);
       if ($this.length)
       {
            var selText = $this.text();
            selections.push(selText);
            //console.log(selText);
       }
    });
    // $( "#sel_"+value ).html(selections.join( ", <br>" ) );
    $( "#sel_"+value ).html(selections.join( "," ) );
}

 
// { 
//     var admmitted_to_school = $('#admmitted_to_school').val();
//     if(admmitted_to_school == 'AYES')
//     {
//         $('#div_name_of_school').css({'display': 'block'});
//         $('#div_admmission_type').css({'display': 'block'});
//         $('#div_admmission_date').css({'display': 'block'});
//         $('#div_admmission_class').css({'display': 'block'});
//         $('#div_not_in_school_reason').css({'display': 'none'});
//         $('#not_in_school_reason').val('');
//     }
//     else
//     {
//         $('#div_name_of_school').css({'display': 'none'});
//         $('#name_of_school').multiselect('clearSelection');
//         $('#name_of_school').multiselect('refresh');

//         $('#div_not_in_school_reason').css({'display': 'none'});
//         $('#not_in_school_reason').val('');

//         $('#div_admmission_type').css({'display': 'none'});
//         $('#admmission_type').val('');

//         $('#div_admmission_date').css({'display': 'none'});
//         $('#admmission_to_school_date').val('');

//         $('#div_admmission_class').css({'display': 'none'});
//         $('#admmission_class').multiselect('clearSelection');
//         $('#admmission_class').multiselect('refresh');
//         $('#admmission_class').trigger('change');

//         $('#div_not_in_school_reason').css({'display': 'block'});
//     }
// });

// $("#admmission_class").change(function(event) 
// { 
//     var admmission_class = $('#admmission_class').val();
//     var found = $.inArray('ACVT', admmission_class)
//     if(found > -1)   
//     {
//         $('#div_admmission_subclass').css({'display': 'block'});  
//     }
//     else
//     {
//         $('#div_admmission_subclass').css({'display': 'none'}); 
//         $('#admmission_subclass').val('');
//     }
//     $('#div_admmission_class_').css({'display': 'none'}); 
//     displayVals('admmission_class');
// });
// // // $('#admmission_class').trigger('change');

// $("#admmission_subclass").change(function(event) 
// { 
//     $('#div_admmission_subclass_').css({'display': 'none'}); 
// });
// $('#admmission_subclass').trigger('change');

// $("#admmission_to_school_date").change(function(event) 
// { 
//     $('#div_admmission_to_school_date_').css({'display': 'none'});
// });
// $('#admmission_to_school_date').trigger('change');

// $("#not_in_school_reason").change(function(event) 
// { 
//     $('#div_not_in_school_reason_').css({'display': 'none'});
// });
// $('#not_in_school_reason').trigger('change');

// $("#name_of_school").change(function(event) 
// { 
//     $('#div_name_of_school_').css({'display': 'none'});
// });
// $('#name_of_school').trigger('change');


};
</script>

{% endblock %}