{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Upload Documents {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Biodata</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Student Profile <small>Upload Documents</small></h1>
<!-- end page-header -->


{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}

<!-- begin row -->
<div id='case_details' class="row">

    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"><b>Document Upload</b></h4>
            </div>
            <div class="panel-body">
                 <form class="form-horizontal form-bordered" action="." enctype="multipart/form-data" method="POST" data-parsley-validate="true"
                name="form-wizard-placement" id="new_placement">
                    {% csrf_token %}

                   
                    <div id="wizard_placementfollowup">
                        <ol>
                            <li>
                                Supporting Documents
                                <small>Upload Supporting Documents</small>
                            </li>
                                        
                        </ol>

                        <!-- begin wizard step-1 -->
                        <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Upload Supporting Documents</legend>
                                    <div class="row"> 
                                        <table id="placement_followup_table" class="table table-striped table-bordered">
                                            <tbody>

                                                <tr>
                                                <div id="div_school_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Document Type:  <span class="asteriskField"> *</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.doc_type }}
                                                        </div>
                                                    </div>

                                                 <div id="div_school_type" class="form-group">
                                                        <label class="control-label col-md-4 col-sm-4">Attach File:  <span class="asteriskField"> *</label>
                                                        <div class="col-md-6 col-sm-6">
                                                                {{ form.docfile }}
                                                        </div>
                                                    </div>
                                                       
                                                </tr>

                                               
                                            </tbody>
                                        </table>
                                        <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                                            <div class="panel-body panel-form">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4 col-sm-4"></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        
                                                        <button id="mysubmit100" type="submit" class="btn btn-primary">Submit</button>

                                                        <button class="btn btn-default">Cancel</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                       
                                         {% if documents %}
                                         
                                        <legend class="pull-left width-full">Uploaded Documents</legend>
                                          <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                <th> Document Type</th>
                                                <th>File Name </th>
                                             </tr> 
                                            </thead>
                                            <tbody>
                                            {% for document in documents %}
                                            <tr>
                                            <td> {{ document.doc_type|gen_value:vals }}</td>
                                            <td>
                                                    <a  href="{{ document.docfile.url }}"><h5 style="color: #337ab7;">{{ document.docfile.name }}</h5></a>
                                                </td>
                              
                                            </tr>
                                            {% endfor %}

                                                </tbody>
                                        </table>
                                        {% else %}
                                            <p>No documents.</p>
                                        {% endif %}
                                            </div>
                                    </fieldset>
                                </div>
                        <!-- end wizard step-1 -->
                    </div>
 
                </form>
                  </form>

            </div>
        </div>
    </div>


    

</div>

<!-- end row -->

{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' F%}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript">
function Delete(pk)
{ 
     var id = pk;
    return window.location.href='{% url 'doc_delete' id=0 %}'.replace("0", id);

}

</script>

<script type="text/javascript">

$('html,body').scrollTop(0);
FormWizardValidation.init();
</script>



{% endblock %}
