{% extends 'base.html' %}
{% load app_filters %}
{% load staticfiles %}
{% block page_title %} Personal Information {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}
 
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Biodata</li>
</ol>

<!-- begin page-header -->
<!-- {% for data in init_data %}
    <h1 class="page-header">Biodata <small>Personal Information | {{ data.first_name }} {{ data.surname }}</small></h1>
{% endfor %} -->
<!-- end page-header -->

<div id="education_messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p class="invalid-form-message"></p>
</div>
<!-- {% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %} -->

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                                        {{ form.person }}
                <h4 class="panel-title"><b>Residence Particulars</b></h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal form-bordered" method="POST" data-parsley-validate="true"
                name="form-wizard-biodata" id="new_biodata">
                    {% csrf_token %}


                    <div id="wizard_biodata">
                        <ol>

                            <li>
                                Residence Information
                                <small> Residence Particulars</small>
                            </li>
                                                
                        </ol>



                  <!--   begin wizard step-1 -->

                    <div class="wizard-step-1">
                            <fieldset>
                                <legend class="pull-left width-full">Place of Residence</legend>
                                <div class="row"> 
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Residence : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.residence}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Postal Address : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.address }}
                                        </div>
                                    </div>
                                    <div id="div_transfer_from" class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Postal Code : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.postal_code }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4">Town/City : <span class="asteriskField">*  </label>
                                        <div class="col-md-6 col-sm-6">
                                                {{ form.town }}
                                        </div>
                                    </div>
                        
                                       <div align="center">
                                        <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button type="submit" id="div_btnSave" class="btn btn-primary" value="submit" id="s1" onclick="saveFunction()">Submit</button>
                                    <!-- <button type="button" class="btn btn-default">Cancel</button> -->
                                    <button id='div_btnUpdate' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                    <button type="button" class="btn btn-default" onClick="cancelFunction()"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button>
                                </div>
                            </div>
                                     
                    <!--                     <button id='div_btnSaveEdu' type="button" class="btn btn-primary" onClick="saveFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Save</b></button>
                                        <button id='div_btnUpdateEdu' type="button" class="btn btn-sm btn-primary m-r-5"  style="display:none;" onClick="updateFunction()"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; <b>Update</b></button>
                                        <button type="button" class="btn btn-default" onClick="cancelEduFunction()"><i class="fa fa-close"></i>&nbsp; <b>Cancel</b></button> -->
                                    </div>
                                    </div>
                                </div>
                                <!-- end row -->
                            </fieldset>
                            </div>
                            </div>
                <!-- end wizard step-2 -->

              </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div> 
<!-- end row -->


{% endblock %}
<!-- End content area -->

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>   
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script type="text/javascript">
    $('html,body').scrollTop(0);
    FormWizardValidation.init();
</script>

{% endblock %}